<template>
    <SidebarLayout>
        <div class="card card-flush h-lg-100" id="kt_contacts_main">
            <!--begin::Card header-->
            <div class="card-header pt-7" id="kt_chat_contacts_header">
                <!--begin::Card title-->
                <div class="card-title">
                    <h2>Add New User</h2>
                </div>
                <!--end::Card title-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-5">
                <form class="" @submit.prevent="submit" method="POST">
                    <p
                        v-show="error_class.user != ''"
                        v-html="server_errors"
                        v-bind:class="[error_class.user]"
                    ></p>
                    <div
                        class="alert alert-success"
                        v-show="user_success_msg != ''"
                    >
                        {{ user_success_msg }}
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">Name</span>
                                </label>
                                <input
                                    type="text"
                                    v-model="user_name"
                                    :class="{
                                        'is-invalid':
                                            user_submitted &&
                                            $v.user_name.$error,
                                    }"
                                    class="form-control form-control-solid"
                                />
                                <div
                                    v-if="
                                        user_submitted && !$v.user_name.required
                                    "
                                    class="invalid-feedback"
                                >
                                    Name is required
                                </div>
                                <div
                                    v-if="
                                        user_submitted &&
                                        !$v.user_name.minLength
                                    "
                                    class="invalid-feedback"
                                >
                                    Name should have at least 3 characters
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">Email</span>
                                </label>
                                <input
                                    type="text"
                                    v-model="user_email"
                                    :class="{
                                        'is-invalid':
                                            user_submitted &&
                                            $v.user_email.$error,
                                    }"
                                    class="form-control form-control-solid"
                                />
                                <div
                                    v-if="
                                        user_submitted &&
                                        !$v.user_email.required
                                    "
                                    class="invalid-feedback"
                                >
                                    Email is required
                                </div>
                                <div
                                    v-if="
                                        user_submitted && !$v.user_email.email
                                    "
                                    class="invalid-feedback"
                                >
                                    Email should be valid
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span
                                        :class="[
                                            edit_data == null ? 'required' : '',
                                        ]"
                                        >Password</span
                                    >
                                </label>
                                <input
                                    type="password"
                                    v-model="user_password"
                                    class="form-control form-control-solid"
                                    :class="{
                                        'is-invalid':
                                            edit_data == null &&
                                            user_submitted &&
                                            $v.user_email.$error,
                                    }"
                                />
                                <div
                                    v-if="
                                        edit_data == null &&
                                        user_submitted &&
                                        !$v.user_password.required
                                    "
                                    class="invalid-feedback"
                                >
                                    Password is required
                                </div>
                                <div
                                    v-if="
                                        edit_data == null &&
                                        user_submitted &&
                                        !$v.user_password.minLength
                                    "
                                    class="invalid-feedback"
                                >
                                    Password should have at least 6 characters
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span>Phone</span>
                                </label>
                                <input
                                    type="text"
                                    v-model="user_phone"
                                    class="form-control form-control-solid"
                                />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">Role</span>
                                </label>
                                <select
                                    class="form-select form-select-solid"
                                    data-hide-search="true"
                                    v-model="user_role"
                                >
                                    <option
                                        v-for="(role, role_index) in roles"
                                        :key="role_index"
                                        :value="role.id"
                                    >
                                        {{ role.label }} ({{ role.role_code }})
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">Status</span>
                                </label>
                                <div
                                    class="form-check form-switch form-check-custom form-check-solid me-10 mt-2"
                                >
                                    <input
                                        class="form-check-input h-25px w-40px"
                                        type="checkbox"
                                        v-model="user_status"
                                        :checked="user_status == 1"
                                    />
                                    <span class="ps-1">Active</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="separator mb-6 my-5"></div>
                    <div class="row">
                        <div class="col-12 text-end">
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--end::Card body-->
        </div>
    </SidebarLayout>
</template>

<script>
import SidebarLayout from "../layouts/sidebar";
import {
    required,
    email,
    minLength,
    requiredIf,
} from "vuelidate/lib/validators";

export default {
    components: {
        SidebarLayout,
    },
    data() {
        return {
            /* Validation & Error Handling Setup */
            server_errors: "",
            error_class: {
                user: "",
            },

            submit_api:
                this.edit_data != null ? "/api/user/update" : "/api/user/add",

            /* user */
            user_success_msg: "",
            user_submitted: false,
            // form data
            user_name: this.edit_data != null ? this.edit_data.name : "",
            user_email: this.edit_data != null ? this.edit_data.email : "",
            user_phone: this.edit_data != null ? this.edit_data.phone : "",
            user_status: this.edit_data != null ? this.edit_data.status : 0,
            user_password: "",
            user_role:
                this.edit_data != null
                    ? this.edit_data.role.id
                    : this.roles[0].id,
        };
    },
    props: {
        edit_data: {
            type: [Array, Object],
            default: null,
        },
        roles: {
            type: [Array, Object],
            default: null,
        },
    },
    validations() {
        if (this.edit_data != null) {
            return {
                user_name: { required, minLength: minLength(3) },
                user_email: { required, email },
            };
        } else {
            return {
                user_name: { required, minLength: minLength(3) },
                user_email: { required, email },
                user_password: { required, minLength: minLength(6) },
            };
        }
    },
    mounted() {
        console.log("Add User Component mounted.");
    },
    methods: {
        submit() {
            this.user_submitted = true;

            // stop here if form is invalid
            this.$v.$touch();

            if (this.$v.$invalid) {
                return;
            }

            var formData = new FormData();
            if (this.edit_data != null) {
                formData.append("slack", this.edit_data.slack);
            }
            formData.append("name", this.user_name);
            formData.append("email", this.user_email);
            formData.append("password", this.user_password);
            formData.append("phone", this.user_phone);
            formData.append("status", this.user_status);
            formData.append("role_id", this.user_role);

            axios
                .post(this.submit_api, formData)
                .then((response) => {
                    if (response.data.status_code == 200) {
                        this.error_class.user = "";
                        this.user_success_msg = response.data.msg;
                    } else {
                        try {
                            var error_json = JSON.parse(response.data.msg);
                            this.loop_api_errors(error_json);
                        } catch (err) {
                            this.server_errors = response.data.msg;
                        }
                        this.error_class.user = "error";
                        this.user_success_msg = "";
                    }
                })
                .catch((error) => {
                    var error_json = JSON.parse(error.response.data.message);
                    this.loop_api_errors(error_json);
                    this.error_class.user = "error";
                    this.user_success_msg = "";
                });
        },
    },
};
</script>
