<template>
    <SidebarLayout>
        <div class="card card-flush h-lg-100" id="kt_contacts_main">
            <!--begin::Card header-->
            <div class="card-header pt-7" id="kt_chat_contacts_header">
                <!--begin::Card title-->
                <div class="card-title">
                    <h2>{{ $t("Add New Review") }}</h2>
                </div>
                <!--end::Card title-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-5">
                <form class="" @submit.prevent="submit" method="POST">
                    <p
                        v-show="error_class.review != ''"
                        v-html="server_errors"
                        v-bind:class="[error_class.review]"
                    ></p>
                    <div
                        class="alert alert-success"
                        v-show="review_success_msg != ''"
                    >
                        {{ $t(review_success_msg) }}
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label
                                for="image"
                                class="fs-6 fw-bold form-label mt-3"
                            >
                                <span class="required">
                                    {{ $t("Customer Image") }} (jpeg, jpg, png)
                                </span>
                            </label>
                            <input
                                type="file"
                                class="form-control-file form-control form-control-custom file-input"
                                name="image"
                                ref="image"
                                accept="image/x-png,image/jpeg,image/webp"
                            />
                            <small class="form-text text-muted mb-1">
                                {{
                                    $t("Allowed file size per file is 3 MB")
                                }}</small
                            >
                        </div>

                        <div class="col-3">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">
                                        {{ $t("Name") }}
                                    </span>
                                </label>
                                <input
                                    type="text"
                                    v-model="name"
                                    :class="{
                                        'is-invalid':
                                            review_submitted && $v.name.$error,
                                    }"
                                    class="form-control form-control-solid"
                                />
                                <div
                                    v-if="review_submitted && !$v.name.required"
                                    class="invalid-feedback"
                                >
                                    {{ $t("Review Name is required") }}
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">
                                        {{ $t("Name (Arabic)") }}
                                    </span>
                                </label>
                                <input
                                    type="text"
                                    v-model="name_ar"
                                    :class="{
                                        'is-invalid':
                                            review_submitted &&
                                            $v.name_ar.$error,
                                    }"
                                    class="form-control form-control-solid"
                                />
                                <div
                                    v-if="
                                        review_submitted && !$v.name_ar.required
                                    "
                                    class="invalid-feedback"
                                >
                                    {{ $t("Review Name (Arabic) is required") }}
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">{{
                                        $t("Rating")
                                    }}</span>
                                </label>
                                <select
                                    v-model="rating"
                                    class="form-control form-control-solid"
                                    :class="{
                                        'is-invalid':
                                            review_submitted &&
                                            $v.rating.$error,
                                    }"
                                >
                                    <option value="">--Select Rating--</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>

                                <div
                                    v-if="
                                        review_submitted && !$v.rating.required
                                    "
                                    class="invalid-feedback"
                                >
                                    {{ $t("Rating is required") }}
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">{{
                                        $t("Review")
                                    }}</span>
                                </label>
                                <textarea
                                    type="text"
                                    v-model="review"
                                    :class="{
                                        'is-invalid':
                                            review_submitted &&
                                            $v.review.$error,
                                    }"
                                    class="form-control form-control-solid"
                                />
                                <div
                                    v-if="
                                        review_submitted && !$v.review.required
                                    "
                                    class="invalid-feedback"
                                >
                                    {{ $t("Review is required") }}
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">{{
                                        $t("Review (Arabic)")
                                    }}</span>
                                </label>
                                <textarea
                                    type="text"
                                    v-model="review_ar"
                                    :class="{
                                        'is-invalid':
                                            review_submitted &&
                                            $v.review_ar.$error,
                                    }"
                                    class="form-control form-control-solid"
                                />
                                <div
                                    v-if="
                                        review_submitted &&
                                        !$v.review_ar.required
                                    "
                                    class="invalid-feedback"
                                >
                                    {{ $t("Review (Arabic) is required") }}
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">{{
                                        $t("Status")
                                    }}</span>
                                </label>
                                <div
                                    class="form-check form-switch form-check-custom form-check-solid me-10 mt-2"
                                >
                                    <input
                                        class="form-check-input h-25px w-40px"
                                        type="checkbox"
                                        v-model="status"
                                        :checked="status == 1"
                                    />
                                    <span class="ps-1">{{ $t("Active") }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="separator mb-6 my-5"></div>
                    <div class="row">
                        <div class="col-12 text-end">
                            <button class="btn btn-primary">
                                {{ $t("Save") }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!--end::Card body-->
        </div>
    </SidebarLayout>
</template>

<script>
import SidebarLayout from "../../layouts/sidebar";
import { required } from "vuelidate/lib/validators";

export default {
    components: {
        SidebarLayout,
    },
    data() {
        return {
            /* Validation & Error Handling Setup */
            server_errors: "",
            error_class: {
                review: "",
            },

            submit_api:
                this.edit_data != null
                    ? "/api/website/review/update"
                    : "/api/website/review/add",

            /* login */
            review_success_msg: "",
            review_submitted: false,

            // form data
            name: this.edit_data != null ? this.edit_data.name : "",
            name_ar: this.edit_data != null ? this.edit_data.name_ar : "",
            review: this.edit_data != null ? this.edit_data.review : "",
            review_ar: this.edit_data != null ? this.edit_data.review_ar : "",
            rating: this.edit_data != null ? this.edit_data.rating : "",
            status: this.edit_data != null ? this.edit_data.status : "",
        };
    },
    props: {
        edit_data: {
            type: [Array, Object],
            default: null,
        },
    },
    validations: {
        name: { required },
        name_ar: { required },
        review: { required },
        review_ar: { required },
        rating: { required },
    },
    created() {
        // redirect to dashboard page if user has already logged in and trying to access login page
    },
    mounted() {
        console.log("Add Review Component mounted.");
    },
    methods: {
        submit() {
            this.review_submitted = true;

            // stop here if form is invalid
            this.$v.$touch();

            if (this.$v.$invalid) {
                return;
            }

            var formData = new FormData();
            if (this.edit_data != null) {
                formData.append("slack", this.edit_data.slack);
            }

            formData.append(
                "image",
                this.$refs.image.files.length > 0
                    ? this.$refs.image.files[0]
                    : ""
            );
            formData.append("name", this.name);
            formData.append("name_ar", this.name_ar);
            formData.append("review", this.review);
            formData.append("review_ar", this.review_ar);
            formData.append("rating", this.rating);
            formData.append("status", this.status);

            axios
                .post(this.submit_api, formData)
                .then((response) => {
                    if (response.data.status_code == 200) {
                        this.error_class.review = "";
                        this.review_success_msg = response.data.msg;
                    } else {
                        try {
                            var error_json = JSON.parse(response.data.msg);
                            this.loop_api_errors(error_json);
                        } catch (err) {
                            this.server_errors = response.data.msg;
                        }
                        this.error_class.review = "error";
                        this.review_success_msg = "";
                    }
                })
                .catch((error) => {
                    var error_json = JSON.parse(error.response.data.message);
                    this.loop_api_errors(error_json);
                    this.error_class.review = "error";
                    this.review_success_msg = "";
                });
        },
    },
};
</script>
