<template>
    <SidebarLayout>
        <div class="content flex-column-fluid" id="kt_content">
            <div class="card p-3 mb-2">
                <div class="row">
                    <div class="col-md-3">
                        <label for="" class="fs-4 text-muted pb-3">Select Date Range</label>
                        <div
                            class="d-flex align-items-center position-relative"
                        >
                            <date-range-picker
                                v-model="date_range"
                                :opens="'right'"
                                :append-to-body="'true'"
                                :localeData="date_filter.localeData"
                                style="width:230px;"
                                @update="getReport"
                            >
                            </date-range-picker>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <br>
                        <label for="status" class="pt-5"> <input @change="getReport" id="status" type="checkbox" v-model="status" class="mt-2"> Show Inactive Merchants Only </label>
                    </div>
         
                </div>
       
            </div>
            <!--begin::Card-->
            <div class="card">
                <!--begin::Card header-->
                <div class="row" v-if="report.data">
                    <div class="col-12 p-5">
                        <div class="p-5">
                            Active : <span class="text-success">{{ report.active_merchant_count }}</span> &nbsp; Inactive : <span class="text-danger">{{ report.inactive_merchant_count }}</span>
                        </div>
                    </div>
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    <!--begin::Table-->
                    <div
                        id="kt_subscriptions_table_wrapper"
                        class="dataTables_wrapper dt-bootstrap4 no-footer"
                    >
                        <div
                            class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start"
                        >
                            <div
                                class="dataTables_length"
                                id="kt_datatable_example_4_length"
                            >
                                <label
                                    ><select
                                        v-model="paginate"
                                        aria-controls="kt_datatable_example_4"
                                        class="form-select form-select-sm form-select-solid"
                                    >
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select></label
                                >
                            </div>
                            <div
                                class="dataTables_info"
                                id="kt_datatable_example_4_info"
                                device="status"
                                aria-live="polite"
                            >
                                {{ $t("Showing") }} {{ pageRecordsFrom }}
                                {{ $t("to") }} {{ pageRecordsTo }}
                                {{ $t("of") }} {{ pageRecordsTotal }}
                                {{ $t("records") }}
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer"
                                id="kt_subscriptions_table"
                            >
                                <!--begin::Table head-->
                                <thead>
                                    <!--begin::Table row-->
                                    <tr class="text-muted">
                                        <th>{{ $t("Sr.") }}</th>
                                        <th>{{ $t("Merchant") }}</th>
                                        <th>{{ $t("Orders") }}</th>
                                        <th>{{ $t("Invoices") }}</th>
                                        <th>{{ $t("Purchase Orders") }}</th>
                                        <th>{{ $t("Users") }}</th>
                                        <th>{{ $t("Status") }}</th>
                                    </tr>
                                    <!--end::Table row-->
                                </thead>
                                <!--end::Table head-->
                                <!--begin::Table body-->
                                <tbody
                                    v-if="report"
                                    class="text-gray-600 fw-bold"
                                >
                                    <tr
                                        v-for="(report,index) in report.data"
                                        :key="index"
                                    >
                                        <td>{{ index + 1   }}</td>
                                        <td>{{ report.merchant   }}</td>
                                        <td>{{ report.total_orders }}</td>
                                        <td>{{ report.total_invoices }}</td>
                                        <td>{{ report.total_purchase_orders }}</td>
                                        <td>{{ report.total_users }}</td>
                                        <td>
                                            <span
                                                v-if="report.status == 'Active'"
                                                class="badge badge-success"
                                                >Active</span
                                            >
                                            <span
                                                v-else
                                                class="badge badge-danger"
                                                >Inactive</span
                                            >
                                        </td>
                                        <td>
                                            <StatusLabel
                                                :status="report.status"
                                            ></StatusLabel>
                                        </td>
                                    </tr>
                                </tbody>
                                <!--end::Table body-->
                            </table>
                        </div>
                    </div>

                    <!--end::Table-->
                </div>
                <div class="row pb-5 text-end">
                    <div class="col-12 text-end">
                        <paginations
                            :data="report"
                            :limit="10"
                            @pagination-change-page="getReport"
                        >
                            <!-- <span slot="prev-nav">&lt; Previous</span>
                            <span slot="next-nav">Next &gt;</span> -->
                        </paginations>
                    </div>
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->
        </div>
    </SidebarLayout>
</template>

<script>
import SidebarLayout from "../layouts/sidebar";
import _ from "lodash";
import DateRangePicker from 'vue2-daterange-picker';
//you need to import the CSS manually
import 'vue2-daterange-picker/dist/vue2-daterange-picker.css';
import moment from "moment";

export default {
    data() {
        return {
            report: {},
            paginate: 25,
            search_filters: this.initialState(),
            search_placeholder: this.$t(
                "Search report by title, description, amount..."
            ),
            date_range : {
                startDate : new Date(),
                endDate : new Date(),
            } ,
            date_filter : {
                localeData : {
                    format: 'dd-mm-yyyy',
                    separator: ' / '
                }
            },
            status : false,
        };
    },
    components: {
        SidebarLayout,
        'date-range-picker' : DateRangePicker,
        moment
    },
    mounted(){
    },
    computed: {
        pageRecordsFrom() {
            return this.report.meta ? this.report.meta.from : 0;
        },
        pageRecordsTo() {
            return this.report.meta ? this.report.meta.to : 0;
        },
        pageRecordsTotal() {
            return this.report.meta ? this.report.meta.total : 0;
        },
    },

    watch: {
        paginate: function () {
            this.getReport();
        },
    },

    methods: {
        initialState() {
            return {
                search_term: "",
                status: false,
            };
        },
        getReport(page = 1) {

            this.$preloaders.open();

            axios
                .get("/api/report/engagement_report", {
                    params: {
                        dates: this.date_range,
                        status: this.status,
                        page: page,
                        paginate: this.paginate,
                        query: this.search_filters,
                    },
                })
                .then((response) => {
                    this.report = response.data.data;
                    this.$preloaders.close();
                });
        },
    },
};
</script>
