<template>
    <SidebarLayout>
        <div class="content flex-column-fluid" id="kt_content">
            <div class="card p-3 mb-2">
                <div class="row">
                    <div class="col-md-3">
                        <label for="" class="fs-4 text-muted pb-3">Select Date Range</label>
                        <div
                            class="d-flex align-items-center position-relative"
                        >
                            <date-range-picker
                                v-model="date_range"
                                :opens="'right'"
                                :append-to-body="'true'"
                                :localeData="date_filter.localeData"
                                style="width:230px;"
                                @update="getReport"
                            >
                            </date-range-picker>
                        </div>
                    </div>
         
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <button type="button" @click="downloadReport" class="btn btn-primary btn-sm" v-show="show_download_button">Download Excel</button>
                    </div>
                </div>
       
            </div>
            <!--begin::Card-->
            <div class="card">
                <!--begin::Card header-->
                <div class="row" v-if="report.data">
                    <div class="col-12 p-5">
                        <div class="p-5">
                            Active : <span class="text-success">{{ report.active_merchant_count }}</span> &nbsp; Inactive : <span class="text-danger">{{ report.inactive_merchant_count }}</span>
                        </div>
                    </div>
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    <!--begin::Table-->
                    <div
                        id="kt_subscriptions_table_wrapper"
                        class="dataTables_wrapper dt-bootstrap4 no-footer"
                    >
                        <div
                            class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start"
                        >
                            <div
                                class="dataTables_length"
                                id="kt_datatable_example_4_length"
                            >
                                <label
                                    ><select
                                        v-model="paginate"
                                        aria-controls="kt_datatable_example_4"
                                        class="form-select form-select-sm form-select-solid"
                                    >
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select></label
                                >
                            </div>
                            <div
                                class="dataTables_info"
                                id="kt_datatable_example_4_info"
                                device="status"
                                aria-live="polite"
                            >
                                {{ $t("Showing") }} {{ pageRecordsFrom }}
                                {{ $t("to") }} {{ pageRecordsTo }}
                                {{ $t("of") }} {{ pageRecordsTotal }}
                                {{ $t("records") }}
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer"
                                id="kt_subscriptions_table"
                            >
                                <!--begin::Table head-->
                                <thead>
                                    <!--begin::Table row-->
                                    <tr class="text-muted">
                                        <th>{{ $t("Sr.") }}</th>
                                        <th>{{ $t("Merchant") }}</th>
                                        <th>{{ $t("Company") }}</th>
                                        <th>{{ $t("Email") }}</th>
                                        <th>{{ $t("Subscription") }}</th>
                                        <th>{{ $t("Status") }}</th>
                                        <th>{{ $t("Registered At") }}</th>
                                        <th>{{ $t("Link") }}</th>
                                    </tr>
                                    <!--end::Table row-->
                                </thead>
                                <!--end::Table head-->
                                <!--begin::Table body-->
                                <tbody
                                    v-if="report"
                                    class="text-gray-600 fw-bold"
                                >
                                    <tr
                                        v-for="(report,index) in report.merchants"
                                        :key="index"
                                    >
                                        <td>{{ index + 1   }}</td>
                                        <td>{{ report.name   }}</td>
                                        <td>{{ report.company_url   }}</td>
                                        <td>{{ report.email }}</td>
                                        <td> 
                                            <span v-if="report.merchant_subscription && report.merchant_subscription.subscription && report.merchant_subscription.subscription != null  ">{{ report.merchant_subscription.subscription.title }}</span> 
                                            <span v-else>-</span>
                                        </td>
                                        <td><StatusLabel
                                                :status="report.status"
                                            ></StatusLabel></td>
                                        <td>{{ report.registered_at }}</td>
                                        <td><a :href="report.merchant_url" target="_BLANK" class="btn btn-sm btn-dark"><i class="fa fa-external-link-alt"></i></a></td>
                                    </tr>
                                </tbody>
                                <!--end::Table body-->
                            </table>
                        </div>
                    </div>

                    <!--end::Table-->
                </div>
                <div class="row pb-5 text-end">
                    <div class="col-12 text-end">
                        <paginations
                            :data="report"
                            :limit="10"
                            @pagination-change-page="getReport"
                        >
                            <!-- <span slot="prev-nav">&lt; Previous</span>
                            <span slot="next-nav">Next &gt;</span> -->
                        </paginations>
                    </div>
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->
        </div>
    </SidebarLayout>
</template>

<script>
import SidebarLayout from "../layouts/sidebar";
import _ from "lodash";
import DateRangePicker from 'vue2-daterange-picker';
//you need to import the CSS manually
import 'vue2-daterange-picker/dist/vue2-daterange-picker.css';
import moment from "moment";
import StatusLabel from "../common/StatusLabel.vue";

export default {
    data() {
        return {
            report: {},
            paginate: 25,
            search_filters: this.initialState(),
            search_placeholder: this.$t(
                "Search report by title, description, amount..."
            ),
            date_range : {
                startDate : new Date(),
                endDate : new Date(),
            } ,
            date_filter : {
                localeData : {
                    format: 'dd-mm-yyyy',
                    separator: ' / '
                }
            },
            show_download_button : false,
            download_link : '',

        };
    },
    components: {
        SidebarLayout,
        'date-range-picker' : DateRangePicker,
        moment,
        StatusLabel
    },
    mounted(){
    },
    computed: {
        pageRecordsFrom() {
            return this.report.meta ? this.report.meta.from : 0;
        },
        pageRecordsTo() {
            return this.report.meta ? this.report.meta.to : 0;
        },
        pageRecordsTotal() {
            return this.report.meta ? this.report.meta.total : 0;
        },
    },

    watch: {
        paginate: function () {
            this.getReport();
        },
    },

    methods: {
        initialState() {
            return {
                search_term: "",
            };
        },
        getReport(page = 1) {

            this.$preloaders.open();

            axios
                .get("/api/report/registration_report", {
                    params: {
                        dates: this.date_range,
                        page: page,
                        paginate: this.paginate,
                        query: this.search_filters,
                    },
                })
                .then((response) => {
                    this.report = response.data.data.data;
                    this.show_download_button = true;
                    this.download_link = response.data.data.download_link;
                    this.$preloaders.close();
                });
        },
        downloadReport(){
            window.open(this.download_link,'_blank');
        }
    },
};
</script>
