<template>
    <SidebarLayout>
        <div class="content flex-column-fluid" id="kt_content">
            <div class="card p-3 mb-2">
                <div class="row">
                    <div class="col-md-4">
                        <label for="" class="fs-4 text-muted pb-3">Merchant</label>
                        <div
                            class="d-flex align-items-center position-relative"
                        >
                        <select v-model="merchant_id" class="form-control">
                            <option value="">--All Merchants--</option>
                            <option v-for="(merchant,index) in merchants" :key="index" :value="merchant.id">{{ merchant.company_url }}</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="" class="fs-4 text-muted pb-3">From Date</label>
                        <div
                            class="d-flex align-items-center position-relative"
                        >
                        <select v-model="from_year" class="form-control">
                            <option value="">--Select Year--</option>
                            <option v-for="(year,index) in years" :key="index" :value="year">{{ year }}</option>
                        </select>
                        <select v-model="from_month" class="ms-1 form-control">
                            <option value="">--Select Month--</option>
                            <option v-for="(month,index) in months" :key="index" :value="index + 1">{{ month }}</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="" class="fs-4 text-muted pb-3">To Date</label>
                        <div
                            class="d-flex align-items-center position-relative"
                        >
                        <select v-model="to_year" class="form-control">
                            <option value="">--Select Year--</option>
                            <option v-for="(year,index) in years" :key="index" :value="year">{{ year }}</option>
                        </select>
                        <select v-model="to_month" class="ms-1 form-control">
                            <option value="">--Select Month--</option>
                            <option v-for="(month,index) in months" :key="index" :value="index + 1">{{ month }}</option>
                        </select>
                        </div>
                    </div>
                    
         
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <button type="button" @click="getReport" class="btn btn-primary btn-sm">Submit</button>
                        <button type="button" @click="downloadReport" class="btn btn-primary btn-sm" v-show="show_download_button">Download Excel</button>
                    </div>
                    
                </div>
       
            </div>
            <!--begin::Card-->
            <div class="card">
                <!--begin::Card header-->
                <div class="row" v-if="report.data">
                    <div class="col-12 p-5">
                        <div class="p-5">
                            Merchants Found : <span class="text-success">{{ report.merchant_count }}</span>
                        </div>
                    </div>
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    <!--begin::Table-->
                    <div
                        id="kt_subscriptions_table_wrapper"
                        class="dataTables_wrapper dt-bootstrap4 no-footer"
                    >
                        <div
                            class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start"
                        >
                            <div
                                class="dataTables_length"
                                id="kt_datatable_example_4_length"
                            >
                                <label
                                    ><select
                                        v-model="paginate"
                                        aria-controls="kt_datatable_example_4"
                                        class="form-select form-select-sm form-select-solid"
                                    >
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select></label
                                >
                            </div>
                            <div
                                class="dataTables_info"
                                id="kt_datatable_example_4_info"
                                device="status"
                                aria-live="polite"
                            >
                                {{ $t("Showing") }} {{ pageRecordsFrom }}
                                {{ $t("to") }} {{ pageRecordsTo }}
                                {{ $t("of") }} {{ pageRecordsTotal }}
                                {{ $t("records") }}
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer"
                                id="kt_subscriptions_table"
                            >
                                <!--begin::Table head-->
                                <thead>
                                    <!--begin::Table row-->
                                    <tr class="text-muted">
                                        <th>{{ $t("Merchant") }}</th>
                                        <th>{{ $t("Month & Year") }}</th>
                                        <th>{{ $t("Total Revenue") }}</th>
                                        <th>{{ $t("Revenue in Cash") }}</th>
                                        <th>{{ $t("Revenue in Credit") }}</th>
                                        <th>{{ $t("Returned Amount") }}</th>
                                        <th>{{ $t("Total Branches") }}</th>
                                    </tr>
                                    <!--end::Table row-->
                                </thead>
                                <!--end::Table head-->
                                <!--begin::Table body-->
                                <tbody
                                    v-if="report"
                                    class="text-gray-600 fw-bold"
                                >
                                <tr
                                v-for="(report,index) in report.data"
                                :key="index"
                                >
                                        <td>{{ report.merchant }}</td>
                                        <td>{{ report.month_and_year }}</td>
                                        <td>{{ report.total_order_revenue }}</td>
                                        <td>{{ report.order_revenue_in_cash }}</td>
                                        <td>{{ report.order_revenue_in_credit }}</td>
                                        <td>{{ report.order_return_amount }}</td>
                                        <td>{{ report.total_branches }}</td>
                                   
                                    </tr>
                                </tbody>
                                <!--end::Table body-->
                            </table>
                        </div>
                    </div>

                    <!--end::Table-->
                </div>
                <div class="row pb-5 text-end">
                    <div class="col-12 text-end">
                        <paginations
                            :data="report"
                            :limit="10"
                            @pagination-change-page="getReport"
                        >
                            <!-- <span slot="prev-nav">&lt; Previous</span>
                            <span slot="next-nav">Next &gt;</span> -->
                        </paginations>
                    </div>
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->
        </div>
    </SidebarLayout>
</template>

<script>
import SidebarLayout from "../layouts/sidebar";
import _ from "lodash";
import DateRangePicker from 'vue2-daterange-picker';
//you need to import the CSS manually
import 'vue2-daterange-picker/dist/vue2-daterange-picker.css';
import moment from "moment";

export default {
    data() {
        return {
            report: {},
            paginate: 25,
            search_filters: this.initialState(),
            search_placeholder: this.$t(
                "Search report by title, description, amount..."
            ),
            date_range : {
                startDate : new Date(),
                endDate : new Date(),
            } ,
            date_filter : {
                localeData : {
                    format: 'dd-mm-yyyy',
                    separator: ' / '
                }
            },
            status : false,
            months : (this.data.months != null) ? this.data.months : [],
            years : (this.data.years != null) ? this.data.years : [],
            merchants : (this.data.merchants != null) ? this.data.merchants : [],
            from_month : '',
            from_year : '',
            to_month : '',
            to_year : '',
            merchant_id : '',
            show_download_button : false,
            download_link : '',
        };
    },
    props : {
        data : [Array]
    },
    components: {
        SidebarLayout,
        'date-range-picker' : DateRangePicker,
        moment
    },
    mounted(){
    },
    computed: {
        pageRecordsFrom() {
            return this.report.meta ? this.report.meta.from : 0;
        },
        pageRecordsTo() {
            return this.report.meta ? this.report.meta.to : 0;
        },
        pageRecordsTotal() {
            return this.report.meta ? this.report.meta.total : 0;
        },
    },

    watch: {
        paginate: function () {
            this.getReport();
        },
    },

    methods: {
        initialState() {
            return {
                search_term: "",
                status: false,
            };
        },
        getReport(page = 1) {

            this.$preloaders.open();

            axios
                .get("/api/report/revenue_report", {
                    params: {
                        merchant_id: this.merchant_id,
                        from_year: this.from_year,
                        from_month: this.from_month,
                        to_year: this.to_year,
                        to_month: this.to_month,
                        page: page,
                        paginate: this.paginate,
                        query: this.search_filters,
                    },
                })
                .then((response) => {
                    this.report = response.data.data;
                    this.show_download_button = true;
                    this.download_link = response.data.data.download_link;
                    this.$preloaders.close();
                });
        },
        downloadReport(){
            window.open(this.download_link,'_blank');
        }
    },
};
</script>
