<template>
    <!--begin::Footer-->
    <div
        class="footer py-4 d-flex flex-column flex-md-row flex-stack"
        id="kt_footer"
    >
        <!--begin::Copyright-->
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted fw-bold me-1">2022©</span>
            <a
                href="https://wosul.sa"
                target="_blank"
                class="text-gray-800 text-hover-primary"
                >Wosul</a
            >
        </div>
        <!--end::Copyright-->
        <!--begin::Menu-->
        <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
            <li class="menu-item">
                <a href="#" target="_blank" class="menu-link px-2">About</a>
            </li>
            <li class="menu-item">
                <a href="#" target="_blank" class="menu-link px-2">Support</a>
            </li>
            <li class="menu-item">
                <a href="#" target="_blank" class="menu-link px-2">Contact</a>
            </li>
        </ul>
        <!--end::Menu-->
    </div>
    <!--end::Footer-->
</template>

<script>
export default {
    name: "Footer",
};
</script>
