<template>
    <body
        id="kt_body"
        class="header-fixed header-tablet-and-mobile-fixed"
        :class="[isDarkMode ? 'dark-mode' : '']"
    >
        <!--begin::Main-->
        <!--begin::Root-->
        <div class="d-flex flex-column flex-root">
            <!--begin::Page-->
            <div class="page d-flex flex-row flex-column-fluid">
                <!--begin::Wrapper-->
                <div
                    class="wrapper d-flex flex-column flex-row-fluid"
                    id="kt_wrapper"
                >
                    <Header></Header>
                    <!--begin::Content wrapper-->
                    <div class="d-flex flex-column-fluid">
                        <Sidebar :menus="menus"></Sidebar>
                        <!--begin::Container-->
                        <div
                            class="d-flex flex-column flex-column-fluid container-fluid"
                        >
                            <!--begin::Post-->
                            <div
                                class="content flex-column-fluid"
                                id="kt_content"
                            >
                                <!-- Content comes here -->
                                <slot></slot>
                            </div>
                            <!--end::Post-->

                            <Footer></Footer>
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Content wrapper-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Page-->
        </div>
    </body>
</template>

<script>
import Sidebar from "./Sidebar";
import Header from "./Header";
import Footer from "./Footer";

export default {
    name: "SidebarLayout",

    components: {
        Sidebar,
        Header,
        Footer,
    },
    props: {
        menus: [Array, Object],
    },
    computed: {
        isDarkMode() {
            return this.$store.state.auth.user.dark_mode == 1 ? true : false;
        },
    },
};
</script>
