<template>
    <!--begin::Aside-->
    <div
        id="kt_aside"
        class="aside card"
        data-kt-drawer="true"
        data-kt-drawer-name="aside"
        data-kt-drawer-activate="{default: true, lg: false}"
        data-kt-drawer-overlay="true"
        data-kt-drawer-width="{default:'200px', '300px': '250px'}"
        data-kt-drawer-direction="start"
        data-kt-drawer-toggle="#kt_aside_toggle"
    >
        <!--begin::Aside menu-->
        <div class="aside-menu flex-column-fluid px-5">
            <!--begin::Aside Menu-->
            <div
                class="hover-scroll-overlay-y my-5 pe-4 me-n4"
                id="kt_aside_menu_wrapper"
                data-kt-scroll="true"
                data-kt-scroll-activate="{default: false, lg: true}"
                data-kt-scroll-height="auto"
                data-kt-scroll-dependencies="#kt_header, #kt_aside_footer"
                data-kt-scroll-wrappers="#kt_aside, #kt_aside_menu"
                data-kt-scroll-offset="{lg: '75px'}"
            >
                <!--begin::Menu-->
                <div
                    class="menu menu-column menu-rounded fw-bold fs-6"
                    id="#kt_aside_menu"
                    data-kt-menu="true"
                >
                    <div class="menu-item">
                        <a class="menu-link" :href="'/dashboard'">
                            <span class="menu-icon">
                                <i class="fa fa-chart-line fs-18"></i>
                            </span>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <div class="menu-content pt-8 pb-2">
                            <span
                                class="menu-section text-muted text-uppercase fs-8 ls-1"
                                >Menus</span
                            >
                        </div>
                    </div>
                    <div
                        v-for="(menu, menu_index) in userMenus"
                        :key="menu_index"
                    >
                        <div
                            data-kt-menu-trigger="click"
                            class="menu-item"
                            :class="[menu.submenus.length == 0 ? 'menu' : '']"
                        >
                            <a
                                class="menu-link"
                                :href="
                                    '/' +
                                    [(menu.route = !null ? menu.route : '#')]
                                "
                            >
                                <span class="menu-icon">
                                    <i :class="menu.icon" class="fs-18"></i>
                                </span>
                                <span class="menu-title">{{ menu.label }}</span>
                                <span
                                    v-show="menu.submenus.length"
                                    class="menu-arrow"
                                ></span>
                            </a>
                            <div
                                class="menu-sub menu-sub-accordion"
                                v-show="menu.submenus.length"
                                v-for="(
                                    submenu, submenu_index
                                ) in menu.submenus"
                                :key="submenu_index"
                            >
                                <div class="menu-item">
                                    <a
                                        class="menu-link"
                                        :class="[
                                            currentRoute == submenu.route
                                                ? 'active'
                                                : '',
                                        ]"
                                        :href="'/' + submenu.route"
                                    >
                                        <span class="menu-bullet">
                                            <span
                                                class="bullet bullet-dot"
                                            ></span>
                                        </span>
                                        <span class="menu-title">{{
                                            submenu.label
                                        }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Menu-->
            </div>
        </div>
        <!--end::Aside menu-->
        <!--begin::Footer-->
        <div
            class="aside-footer flex-column-auto pt-5 pb-7 px-5"
            id="kt_aside_footer"
        >
            <a
                href="../../demo14/dist/documentation/getting-started.html"
                class="btn btn-bg-light btn-color-gray-500 btn-active-color-gray-900 w-100"
                data-bs-toggle="tooltip"
                data-bs-trigger="hover"
                data-bs-dismiss-="click"
                title="200+ in-house components and 3rd-party plugins"
            >
                <span class="btn-label">Help &amp; Support</span>
                <!--begin::Svg Icon | path: icons/duotune/general/gen005.svg-->
                <span class="svg-icon btn-icon svg-icon-2">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                    >
                        <path
                            opacity="0.3"
                            d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22ZM12.5 18C12.5 17.4 12.6 17.5 12 17.5H8.5C7.9 17.5 8 17.4 8 18C8 18.6 7.9 18.5 8.5 18.5L12 18C12.6 18 12.5 18.6 12.5 18ZM16.5 13C16.5 12.4 16.6 12.5 16 12.5H8.5C7.9 12.5 8 12.4 8 13C8 13.6 7.9 13.5 8.5 13.5H15.5C16.1 13.5 16.5 13.6 16.5 13ZM12.5 8C12.5 7.4 12.6 7.5 12 7.5H8C7.4 7.5 7.5 7.4 7.5 8C7.5 8.6 7.4 8.5 8 8.5H12C12.6 8.5 12.5 8.6 12.5 8Z"
                            fill="black"
                        />
                        <rect
                            x="7"
                            y="17"
                            width="6"
                            height="2"
                            rx="1"
                            fill="black"
                        />
                        <rect
                            x="7"
                            y="12"
                            width="10"
                            height="2"
                            rx="1"
                            fill="black"
                        />
                        <rect
                            x="7"
                            y="7"
                            width="6"
                            height="2"
                            rx="1"
                            fill="black"
                        />
                        <path
                            d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z"
                            fill="black"
                        />
                    </svg>
                </span>
                <!--end::Svg Icon-->
            </a>
        </div>
        <!--end::Footer-->
    </div>
    <!--end::Aside-->
</template>

<script>
import _ from "lodash";

export default {
    mounted() {
        console.log("Sidebar mounted.");
    },
    computed: {
        userMenus() {
            return this.$store.state.auth.menus;
        },
        currentRoute() {
            let url = window.location.href;
            url = _.split(url, "/", 4);
            return _.last(url);
        },
    },
};
</script>
