<template>
    <SidebarLayout>
        <div class="card card-flush h-lg-100" id="kt_contacts_main">
            <!--begin::Card header-->
            <div class="card-header pt-7" id="kt_chat_contacts_header">
                <!--begin::Card title-->
                <div class="card-title">
                    <h2>{{ $t("Add New Service") }}</h2>
                </div>
                <!--end::Card title-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-5">
                <form class="" @submit.prevent="submit" method="POST">
                    <p
                        v-show="error_class.service != ''"
                        v-html="server_errors"
                        v-bind:class="[error_class.service]"
                    ></p>
                    <div
                        class="alert alert-success"
                        v-show="service_success_msg != ''"
                    >
                        {{ $t(service_success_msg) }}
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label
                                for="image"
                                class="fs-6 fw-bold form-label mt-3"
                            >
                                <span class="required">
                                    {{ $t("Image") }} (jpeg, jpg, png)
                                </span>
                            </label>
                            <input
                                type="file"
                                class="form-control-file form-control form-control-custom file-input"
                                name="image"
                                ref="image"
                                accept="image/x-png,image/jpeg,image/webp"
                            />
                            <small class="form-text text-muted mb-1">
                                {{
                                    $t("Allowed file size per file is 3 MB")
                                }}</small
                            >
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">
                                        {{ $t("Name") }}
                                    </span>
                                </label>
                                <input
                                    type="text"
                                    v-model="title"
                                    :class="{
                                        'is-invalid':
                                            service_submitted &&
                                            $v.title.$error,
                                    }"
                                    class="form-control form-control-solid"
                                />
                                <div
                                    v-if="
                                        service_submitted && !$v.title.required
                                    "
                                    class="invalid-feedback"
                                >
                                    {{ $t("Service Name is required") }}
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">{{
                                        $t("Name (Arabic)")
                                    }}</span>
                                </label>
                                <input
                                    type="text"
                                    v-model="title_ar"
                                    :class="{
                                        'is-invalid':
                                            service_submitted &&
                                            $v.title_ar.$error,
                                    }"
                                    class="form-control form-control-solid"
                                />
                                <div
                                    v-if="
                                        service_submitted &&
                                        !$v.title_ar.required
                                    "
                                    class="invalid-feedback"
                                >
                                    {{ $t("Service Name is required") }}
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">{{
                                        $t("Description")
                                    }}</span>
                                </label>
                                <textarea
                                    type="text"
                                    v-model="description"
                                    :class="{
                                        'is-invalid':
                                            service_submitted &&
                                            $v.description.$error,
                                    }"
                                    class="form-control form-control-solid"
                                />
                                <div
                                    v-if="
                                        service_submitted &&
                                        !$v.description.required
                                    "
                                    class="invalid-feedback"
                                >
                                    {{ $t("Description is required") }}
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">{{
                                        $t("Description (Arabic)")
                                    }}</span>
                                </label>
                                <textarea
                                    type="text"
                                    v-model="description_ar"
                                    :class="{
                                        'is-invalid':
                                            service_submitted &&
                                            $v.description_ar.$error,
                                    }"
                                    class="form-control form-control-solid"
                                />
                                <div
                                    v-if="
                                        service_submitted &&
                                        !$v.description_ar.required
                                    "
                                    class="invalid-feedback"
                                >
                                    {{ $t("Description (Arabic) is required") }}
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">{{
                                        $t("Status")
                                    }}</span>
                                </label>
                                <div
                                    class="form-check form-switch form-check-custom form-check-solid me-10 mt-2"
                                >
                                    <input
                                        class="form-check-input h-25px w-40px"
                                        type="checkbox"
                                        v-model="status"
                                        :checked="status == 1"
                                    />
                                    <span class="ps-1">{{ $t("Active") }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="separator mb-6 my-5"></div>
                    <div class="row">
                        <div class="col-12 text-end">
                            <button class="btn btn-primary">
                                {{ $t("Save") }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!--end::Card body-->
        </div>
    </SidebarLayout>
</template>

<script>
import SidebarLayout from "../../layouts/sidebar";
import { required } from "vuelidate/lib/validators";

export default {
    components: {
        SidebarLayout,
    },
    data() {
        return {
            /* Validation & Error Handling Setup */
            server_errors: "",
            error_class: {
                service: "",
            },

            submit_api:
                this.edit_data != null
                    ? "/api/website/service/update"
                    : "/api/website/service/add",

            /* login */
            service_success_msg: "",
            service_submitted: false,

            // form data
            title: this.edit_data != null ? this.edit_data.title : "",
            title_ar: this.edit_data != null ? this.edit_data.title_ar : "",
            description:
                this.edit_data != null ? this.edit_data.description : "",
            description_ar:
                this.edit_data != null ? this.edit_data.description_ar : "",
            status: this.edit_data != null ? this.edit_data.status : "",
        };
    },
    props: {
        edit_data: {
            type: [Array, Object],
            default: null,
        },
    },
    validations: {
        title: { required },
        title_ar: { required },
        description: { required },
        description_ar: { required },
    },
    created() {
        // redirect to dashboard page if user has already logged in and trying to access login page
    },
    mounted() {
        console.log("Add Service Component mounted.");
    },
    methods: {
        submit() {
            this.service_submitted = true;

            // stop here if form is invalid
            this.$v.$touch();

            if (this.$v.$invalid) {
                return;
            }

            var formData = new FormData();
            if (this.edit_data != null) {
                formData.append("slack", this.edit_data.slack);
            }

            formData.append(
                "image",
                this.$refs.image.files.length > 0
                    ? this.$refs.image.files[0]
                    : ""
            );
            formData.append("title", this.title);
            formData.append("title_ar", this.title_ar);
            formData.append("description", this.description);
            formData.append("description_ar", this.description_ar);
            formData.append("status", this.status);

            axios
                .post(this.submit_api, formData)
                .then((response) => {
                    if (response.data.status_code == 200) {
                        this.error_class.service = "";
                        this.service_success_msg = response.data.msg;
                    } else {
                        try {
                            var error_json = JSON.parse(response.data.msg);
                            this.loop_api_errors(error_json);
                        } catch (err) {
                            this.server_errors = response.data.msg;
                        }
                        this.error_class.service = "error";
                        this.service_success_msg = "";
                    }
                })
                .catch((error) => {
                    var error_json = JSON.parse(error.response.data.message);
                    this.loop_api_errors(error_json);
                    this.error_class.service = "error";
                    this.service_success_msg = "";
                });
        },
    },
};
</script>
