<template>
    <SidebarLayout>
        <div class="content flex-column-fluid" id="kt_content">
            <div class="card p-3 mb-2">
                
                <div class="row mt-3">
                    <div class="col-md-4">
                        <div
                            class="d-flex align-items-center position-relative"
                        >
                            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                            <span
                                class="svg-icon svg-icon-1 position-absolute ms-6"
                            >
                                <i class="fa fa-search"></i>
                            </span>
                            <!--end::Svg Icon-->
                            <input
                                type="text"
                                v-model="search_filters.search_term"
                                class="form-control form-control-solid ps-14 border-secondary"
                                :placeholder="search_placeholder"
                            />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <select
                            class="form-select form-select-solid"
                            v-model="search_filters.status"
                        >
                            <option value="">{{ $t("Select Status") }}</option>
                            <option value="0">{{ $t("Open") }}</option>
                            <option value="1">{{ $t("Under Processing") }}</option>
                            <option value="2">{{ $t("Closed") }}</option>
                        </select>
                    </div>
                    <div class="col-md-12 text-end">
                        <button
                            class="btn btn-secondary btn-sm"
                            @click="getDemoRequests"
                        >
                            Filter
                        </button>
                        <button
                            v-if="showResetFilter"
                            class="btn btn-danger btn-sm"
                            @click="resetFilters"
                        >
                            Reset Filter
                        </button>
                    </div>
                </div>
            </div>
            <!--begin::Card-->
            <div class="card">
                <!--begin::Card header-->
                <div class="row">
                    <!--begin::Card title-->
                    <div class="card-header border-0 pt-2">
                        <div class="col-12">
                            <h2 class="py-5 fw-normal">Demo Requests</h2>
                        </div>
                        <div class="col-6">
                            <div class="">
                                <!--begin::Search-->

                                <!--end::Search-->
                            </div>
                        </div>
                        <div class="col-6">
                           
                        </div>
                    </div>
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    <!--begin::Table-->
                    <div
                        id="kt_subscriptions_table_wrapper"
                        class="dataTables_wrapper dt-bootstrap4 no-footer"
                    >
                        <div
                            class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start"
                        >
                            <div
                                class="dataTables_length"
                                id="kt_datatable_example_4_length"
                            >
                                <label
                                    ><select
                                        v-model="paginate"
                                        aria-controls="kt_datatable_example_4"
                                        class="form-select form-select-sm form-select-solid"
                                    >
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select></label
                                >
                            </div>
                            <div
                                class="dataTables_info"
                                id="kt_datatable_example_4_info"
                                demo_request="status"
                                aria-live="polite"
                            >
                                Showing {{ pageRecordsFrom }} to
                                {{ pageRecordsTo }} of
                                {{ pageRecordsTotal }} records
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer"
                                id="kt_subscriptions_table"
                            >
                                <!--begin::Table head-->
                                <thead>
                                    <!--begin::Table row-->
                                    <tr class="text-muted">
                                        <th>Name</th>
                                        <th>Contact Number</th>
                                        <th>Email</th>
                                        <th>City</th>
                                        <th>Domain</th>
                                        <th>Status</th>
                                        <th>Created At</th>
                                    </tr>
                                    <!--end::Table row-->
                                </thead>
                                <!--end::Table head-->
                                <!--begin::Table body-->
                                <tbody
                                    v-if="demo_requests.data"
                                    class="text-gray-600 fw-bold"
                                >
                                    <tr
                                        v-for="demo_request in demo_requests.data"
                                        :key="demo_request.id"
                                    >
                                        <td>{{ demo_request.full_name }}</td>
                                        <td>{{ demo_request.contact_number }}</td>
                                        <td>{{ demo_request.email }}</td>
                                        <td>{{ demo_request.city }}</td>
                                        <td>{{ demo_request.domain }}</td>
                                        <td>
                                            <span v-if="demo_request.status == 0" class="badge badge-danger">Open</span>
                                            <span v-if="demo_request.status == 1" class="badge badge-primary">Under Processing</span>
                                            <span v-if="demo_request.status == 2" class="badge badge-success">Closed</span>
                                        </td>
                                        <td>{{ demo_request.created_at_label }}</td>
                                     
                                    </tr>
                                </tbody>
                                <!--end::Table body-->
                            </table>
                        </div>
                    </div>

                    <!--end::Table-->
                </div>
                <div class="row pb-5 text-end">
                    <div class="col-12 text-end">
                        <paginations
                            :data="demo_requests"
                            :limit="10"
                            @pagination-change-page="getDemoRequests"
                        >
                            <!-- <span slot="prev-nav">&lt; Previous</span>
                            <span slot="next-nav">Next &gt;</span> -->
                        </paginations>
                    </div>
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->
        </div>
    </SidebarLayout>
</template>

<script>
import SidebarLayout from "../layouts/sidebar";
import _ from "lodash";

export default {
    data() {
        return {
            paginate: 25,
            search_filters: this.initialState(),
            search_placeholder: "Search by name, email, city...",
            search_status_placeholder: "",
            demo_requests : {}
        };
    },
    components: {
        SidebarLayout,
    },

    computed: {
        pageRecordsFrom() {
            return this.demo_requests.meta ? this.demo_requests.meta.from : 0;
        },
        pageRecordsTo() {
            return this.demo_requests.meta ? this.demo_requests.meta.to : 0;
        },
        pageRecordsTotal() {
            return this.demo_requests.meta ? this.demo_requests.meta.total : 0;
        },
        showResetFilter() {
            if (
                JSON.stringify(this.search_filters) !=
                JSON.stringify(this.initialState())
            ) {
                return true;
            } else {
                return false;
            }
        },
    },

    watch: {
        paginate: function () {
            this.getDemoRequests();
        },
    },

    mounted() {
        // get demo_requests when page loads
        this.getDemoRequests();
    },

    methods: {
        initialState() {
            return {
                search_term: "",
                status: "",
            };
        },
        getDemoRequests(page = 1) {
            axios
                .get("/api/demo_requests", {
                    params: {
                        page: page,
                        paginate: this.paginate,
                        query: this.search_filters,
                    },
                })
                .then((response) => {
                    this.demo_requests = response.data;
                });
        },
        resetFilters() {
            this.search_filters = this.initialState();
            this.getDemoRequests();
        },
    },
};
</script>
