<template>
    <SidebarLayout>
        <div class="content flex-column-fluid" id="kt_content">
            
            <!--begin::Card-->
            <div class="card">
                <!--begin::Card header-->
                <div class="row">
                    <!--begin::Card title-->
                    <div class="card-header border-0 pt-2">
                        <div class="col-12">
                            <h2 class="py-5 fw-normal">Whatsapp Visits</h2>
                        </div>
                        <div class="col-6">
                            <div class="">
                                <!--begin::Search-->

                                <!--end::Search-->
                            </div>
                        </div>
                        <div class="col-6">
                           
                        </div>
                    </div>
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    <!--begin::Table-->
                    <div
                        id="kt_subscriptions_table_wrapper"
                        class="dataTables_wrapper dt-bootstrap4 no-footer"
                    >
                        <div
                            class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start"
                        >
                            <div
                                class="dataTables_length"
                                id="kt_datatable_example_4_length"
                            >
                                <label
                                    ><select
                                        v-model="paginate"
                                        aria-controls="kt_datatable_example_4"
                                        class="form-select form-select-sm form-select-solid"
                                    >
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select></label
                                >
                            </div>
                            <div
                                class="dataTables_info"
                                id="kt_datatable_example_4_info"
                                whatsapp_visit="status"
                                aria-live="polite"
                            >
                                Showing {{ pageRecordsFrom }} to
                                {{ pageRecordsTo }} of
                                {{ pageRecordsTotal }} records
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer"
                                id="kt_subscriptions_table"
                            >
                                <!--begin::Table head-->
                                <thead>
                                    <!--begin::Table row-->
                                    <tr class="text-muted">
                                        <th>IP</th>
                                        <th>City</th>
                                        <th>Region</th>
                                        <th>Country</th>
                                        <th>Timezone</th>
                                        <th>Latitude/Longitude</th>
                                        <th>Created At</th>
                                    </tr>
                                    <!--end::Table row-->
                                </thead>
                                <!--end::Table head-->
                                <!--begin::Table body-->
                                <tbody
                                    v-if="whatsapp_visits.data"
                                    class="text-gray-600 fw-bold"
                                >
                                    <tr
                                        v-for="whatsapp_visit in whatsapp_visits.data"
                                        :key="whatsapp_visit.id"
                                    >
                                        <td>{{ whatsapp_visit.ip }}</td>
                                        <td>{{ whatsapp_visit.city_name }}</td>
                                        <td>{{ whatsapp_visit.region_name }}</td>
                                        <td>{{ whatsapp_visit.country_name }}</td>
                                        <td>{{ whatsapp_visit.timezone }}</td>
                                        <td>{{ whatsapp_visit.latitude }} / {{ whatsapp_visit.longitude }}</td>
                                        <td>{{ whatsapp_visit.created_at_label }}</td>
                                     
                                    </tr>
                                </tbody>
                                <!--end::Table body-->
                            </table>
                        </div>
                    </div>

                    <!--end::Table-->
                </div>
                <div class="row pb-5 text-end">
                    <div class="col-12 text-end">
                        <paginations
                            :data="whatsapp_visits"
                            :limit="10"
                            @pagination-change-page="whatsapp_visits"
                        >
                            <!-- <span slot="prev-nav">&lt; Previous</span>
                            <span slot="next-nav">Next &gt;</span> -->
                        </paginations>
                    </div>
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->
        </div>
    </SidebarLayout>
</template>

<script>
import SidebarLayout from "../layouts/sidebar";
import _ from "lodash";

export default {
    data() {
        return {
            paginate: 25,
            search_filters: this.initialState(),
            search_placeholder: "Search by ip, location...",
            search_status_placeholder: "",
            whatsapp_visits : {}
        };
    },
    components: {
        SidebarLayout,
    },

    computed: {
        pageRecordsFrom() {
            return this.whatsapp_visits.meta ? this.whatsapp_visits.meta.from : 0;
        },
        pageRecordsTo() {
            return this.whatsapp_visits.meta ? this.whatsapp_visits.meta.to : 0;
        },
        pageRecordsTotal() {
            return this.whatsapp_visits.meta ? this.whatsapp_visits.meta.total : 0;
        },
        showResetFilter() {
            if (
                JSON.stringify(this.search_filters) !=
                JSON.stringify(this.initialState())
            ) {
                return true;
            } else {
                return false;
            }
        },
    },

    watch: {
        paginate: function () {
            this.get_whatsapp_visits();
        },
    },

    mounted() {
        // get whatsapp_visits when page loads
        this.get_whatsapp_visits();
    },

    methods: {
        initialState() {
            return {
                search_term: ""
            };
        },
        get_whatsapp_visits(page = 1) {
            axios
                .get("/api/whatsapp_visits", {
                    params: {
                        page: page,
                        paginate: this.paginate,
                        query: this.search_filters,
                    },
                })
                .then((response) => {
                    this.whatsapp_visits = response.data;
                });
        },
        resetFilters() {
            this.search_filters = this.initialState();
            this.get_whatsapp_visits();
        },
    },
};
</script>
