<template>
    <SidebarLayout>
        <div class="card p-3 mb-2">
            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex align-items-center position-relative">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                        <span
                            class="svg-icon svg-icon-1 position-absolute ms-6"
                        >
                            <i class="fa fa-search"></i>
                        </span>
                        <!--end::Svg Icon-->
                        <input
                            type="text"
                            v-model="search_filters.search_term"
                            class="form-control form-control-solid ps-14 border-secondary"
                            :placeholder="search_placeholder"
                        />
                    </div>
                </div>
                <div class="col-md-4">
                    <select
                        class="form-select form-select-solid"
                        v-model="search_filters.status"
                    >
                        <option value="">Select Status</option>
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 text-end">
                    <button
                        class="btn btn-secondary btn-sm"
                        @click="getMerchants"
                    >
                        Filter
                    </button>
                    <button
                        v-if="showResetFilter"
                        class="btn btn-danger btn-sm"
                        @click="resetFilters"
                    >
                        Reset Filter
                    </button>
                </div>
            </div>
        </div>
        <!--begin::Card-->
        <div class="card">
            <!--begin::Card header-->
            <div class="row">
                <!--begin::Card title-->
                <div class="card-header border-0 pt-2">
                    <div class="col-12">
                        <h2></h2>
                    </div>
                    <div class="col-6">
                        <div class="">
                            <!--begin::Search-->

                            <!--end::Search-->
                        </div>
                    </div>
                    <div class="col-6"></div>
                </div>
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <!--begin::Table-->
                <div
                    id="kt_subscriptions_table_wrapper"
                    class="dataTables_wrapper dt-bootstrap4 no-footer"
                >
                    <div
                        class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start"
                    >
                        <div
                            class="dataTables_length"
                            id="kt_datatable_example_4_length"
                        >
                            <label
                                ><select
                                    v-model="paginate"
                                    aria-controls="kt_datatable_example_4"
                                    class="form-select form-select-sm form-select-solid"
                                >
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select></label
                            >
                        </div>
                        <div
                            class="dataTables_info"
                            id="kt_datatable_example_4_info"
                            role="status"
                            aria-live="polite"
                        >
                            Showing {{ pageRecordsFrom }} to
                            {{ pageRecordsTo }} of
                            {{ pageRecordsTotal }} records
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table
                            class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer"
                            id="kt_subscriptions_table"
                        >
                            <!--begin::Table head-->
                            <thead>
                                <!--begin::Table row-->
                                <tr class="text-muted">
                                    <th>Merchant Id</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Company</th>
                                    <th>Subscription</th>
                                    <th>Status</th>
                                    <th>Created By</th>
                                    <th class="text-end">Actions</th>
                                </tr>
                                <!--end::Table row-->
                            </thead>
                            <!--end::Table head-->
                            <!--begin::Table body-->
                            <tbody
                                v-if="merchants.data"
                                class="text-gray-600 fw-bold"
                            >
                                <tr
                                    v-for="merchant in merchants.data"
                                    :key="merchant.id"
                                >
                                    <td>
                                        {{ merchant.id }}
                                    </td>
                                    <td>
                                        <a
                                            :href="
                                                '/merchant/' + merchant.slack
                                            "
                                            >{{ merchant.name }}</a
                                        >
                                    </td>
                                    <td>{{ merchant.email }}</td>
                                    <td>{{ merchant.phone_number }}</td>
                                    <td>{{ merchant.company_name }}</td>
                                    <td>-</td>
                                    <td>{{ merchant.status_text }}</td>
                                    <td>
                                        {{
                                            merchant.created_by != null
                                                ? merchant.created_by.name
                                                : "-"
                                        }}
                                    </td>
                                    <td class="text-end">
                                        <a
                                            :href="
                                                '/merchant/' + merchant.slack
                                            "
                                            class="btn btn-sm bg-info text-white"
                                        >
                                            <i class="fa fa-eye text-white"></i>
                                            View
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <!--end::Table body-->
                        </table>
                    </div>
                </div>

                <!--end::Table-->
            </div>
            <div class="row pb-5 text-end">
                <div class="col-12 text-end">
                    <paginations
                        :data="merchants"
                        :limit="10"
                        @pagination-change-page="getMerchants"
                    >
                        <!-- <span slot="prev-nav">&lt; Previous</span>
                            <span slot="next-nav">Next &gt;</span> -->
                    </paginations>
                </div>
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </SidebarLayout>
</template>

<script>
import SidebarLayout from "../layouts/sidebar";
import _ from "lodash";

export default {
    data() {
        return {
            merchants: {},
            paginate: 25,
            search_filters: this.initialState(),
            search_placeholder:
                "Search by name, email, phone, company or address...",
            search_status_placeholder: "",
        };
    },
    components: {
        SidebarLayout,
    },

    computed: {
        pageRecordsFrom() {
            return this.merchants.meta ? this.merchants.meta.from : 0;
        },
        pageRecordsTo() {
            return this.merchants.meta ? this.merchants.meta.to : 0;
        },
        pageRecordsTotal() {
            return this.merchants.meta ? this.merchants.meta.total : 0;
        },
        showResetFilter() {
            if (
                JSON.stringify(this.search_filters) !=
                JSON.stringify(this.initialState())
            ) {
                return true;
            } else {
                return false;
            }
        },
    },

    watch: {
        paginate: function () {
            this.getMerchants();
        },
    },

    mounted() {
        // get merchants when page loads
        this.getMerchants();
    },

    methods: {
        initialState() {
            return {
                search_term: "",
                status: "",
            };
        },
        getMerchants(page = 1) {
            axios
                .get("/api/merchants", {
                    params: {
                        page: page,
                        paginate: this.paginate,
                        query: this.search_filters,
                    },
                })
                .then((response) => {
                    this.merchants = response.data;
                });
        },
        resetFilters() {
            this.search_filters = this.initialState();
            this.getMerchants();
        },
    },
};
</script>
