<template>
    <SidebarLayout>
        <div class="d-flex flex-column flex-xl-row">
            <!--begin::Sidebar-->
            <div class="flex-column flex-lg-row-auto w-100 w-xl-350px mb-10">
                <!--begin::Card-->
                <div class="card mb-5 mb-xl-8">
                    <!--begin::Card body-->
                    <div class="card-body pt-15">
                        <!--begin::Summary-->
                        <div class="d-flex flex-center flex-column mb-5">
                            <!--begin::Avatar-->
                            <div class="symbol symbol-100px symbol-circle mb-7">
                                <img :src="merchant.logo" alt="image" />
                            </div>
                            <!--end::Avatar-->
                            <!--begin::Name-->
                            <a
                                href="#"
                                class="fs-3 text-gray-800 text-hover-primary fw-bolder mb-1"
                                >{{ merchant.name }}</a
                            >
                            <!--end::Name-->
                            <!--begin::Position-->
                            <a
                                :href="merchant.company_url_full"
                                class="fs-5 fw-bold text-muted mb-6"
                                target="_BLANK"
                            >
                                {{ merchant.company_url_full }}
                            </a>
                            <!--end::Position-->
                            <!--begin::Info-->
                            <div class="d-flex flex-wrap flex-center">
                                <!--begin::Stats-->
                                <div
                                    class="border border-gray-300 border-dashed rounded py-3 px-3 mb-3"
                                >
                                    <div class="fs-4 fw-bolder text-gray-700">
                                        <span class="w-75px">{{
                                            merchant.total_orders
                                        }}</span>
                                        <i class="bi bi-cash"></i>
                                    </div>
                                    <div class="fw-bold text-muted">Orders</div>
                                </div>
                                <!--end::Stats-->
                                <!--begin::Stats-->
                                <div
                                    class="border border-gray-300 border-dashed rounded py-3 px-3 mx-4 mb-3"
                                >
                                    <div class="fs-4 fw-bolder text-gray-700">
                                        <span class="w-50px">{{
                                            merchant.total_users
                                        }}</span>
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="fw-bold text-muted">Users</div>
                                </div>
                                <!--end::Stats-->
                                <!--begin::Stats-->
                                <div
                                    class="border border-gray-300 border-dashed rounded py-3 px-3 mb-3"
                                >
                                    <div class="fs-4 fw-bolder text-gray-700">
                                        <span class="w-50px">{{
                                            merchant.total_stores
                                        }}</span>
                                        <i class="bi bi-shop"></i>
                                    </div>
                                    <div class="fw-bold text-muted">Stores</div>
                                </div>
                                <!--end::Stats-->
                            </div>
                            <!--end::Info-->
                        </div>
                        <!--end::Summary-->
                        <!--begin::Details toggle-->
                        <div class="d-flex flex-stack fs-4 py-3">
                            <div
                                class="fw-bolder rotate collapsible active"
                                data-bs-toggle="collapse"
                                href="#kt_customer_view_details"
                                role="button"
                                aria-expanded="true"
                                aria-controls="kt_customer_view_details"
                            >
                                Details
                                <span class="ms-2 rotate-180">
                                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                                    <span class="svg-icon svg-icon-3">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                        >
                                            <path
                                                d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z"
                                                fill="currentColor"
                                            ></path>
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </span>
                            </div>
                            <span
                                data-bs-toggle="tooltip"
                                data-bs-trigger="hover"
                                title=""
                                data-bs-original-title="Edit customer details"
                            >
                                <a
                                    href="#"
                                    class="btn btn-sm btn-light-primary"
                                    data-bs-toggle="modal"
                                    data-bs-target="#kt_modal_update_customer"
                                    >Edit</a
                                >
                            </span>
                        </div>
                        <!--end::Details toggle-->
                        <div class="separator separator-dashed my-3"></div>
                        <!--begin::Details content-->
                        <div
                            id="kt_customer_view_details"
                            class="collapse show"
                            style=""
                        >
                            <div class="py-5 fs-6">
                                <div class="fw-bolder mt-5">Status</div>
                                <div class="text-gray-600">
                                    <div
                                        class="form-check form-switch form-check-custom form-check-solid me-10 mt-2"
                                    >
                                        <span
                                            v-if="merchant.status == 1"
                                            class="badge bg-success me-4"
                                            >Active</span
                                        >
                                        <span
                                            v-else
                                            class="badge bg-warning me-4"
                                            >Inactive</span
                                        >
                                        <input
                                            class="form-check-input h-25px w-40px"
                                            type="checkbox"
                                            @change="updateMerchantStatus"
                                            v-model="merchant_status"
                                            :checked="merchant_status == 1"
                                        />
                                    </div>
                                </div>

                                <div class="fw-bolder mt-5">Merchant ID</div>
                                <div class="text-gray-600">
                                    {{ merchant.id }}
                                </div>

                                <div class="fw-bolder mt-5">Company Name</div>
                                <div class="text-gray-600">
                                    <a
                                        href="#"
                                        class="text-gray-600 text-hover-primary"
                                        >{{ merchant.company_name }}</a
                                    >
                                </div>

                                <div class="fw-bolder mt-5">Email</div>
                                <div class="text-gray-600">
                                    <a
                                        href="#"
                                        class="text-gray-600 text-hover-primary"
                                        >{{ merchant.email }}</a
                                    >
                                </div>

                                <div class="fw-bolder mt-5">Phone Number</div>
                                <div class="text-gray-600">
                                    <a
                                        href="#"
                                        class="text-gray-600 text-hover-primary"
                                        >{{ merchant.phone_number }}</a
                                    >
                                </div>

                                <div class="fw-bolder mt-5">Address</div>
                                <div class="text-gray-600">
                                    {{ merchant.address }}
                                </div>

                                <div class="fw-bolder mt-5">Referral Code</div>
                                <div class="text-gray-600">
                                    <span v-if="merchant.referral_code != null">
                                        {{ merchant.referral_code }}
                                    </span>
                                    <span v-else>-</span>
                                </div>

                                <div class="fw-bolder mt-5">Recommendation</div>
                                <div class="text-gray-600">
                                    <span
                                        v-if="merchant.recommendation != null"
                                    >
                                        {{ merchant.recommendation }}
                                    </span>
                                    <span v-else>-</span>
                                </div>

                                <div class="fw-bolder mt-5">Updated At</div>
                                <div class="text-gray-600">
                                    {{ merchant.updated_at_label }}
                                </div>
                                <div class="fw-bolder mt-5">Created At</div>
                                <div class="text-gray-600">
                                    {{ merchant.created_at_label }}
                                </div>
                            </div>
                        </div>
                        <!--end::Details content-->
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Card-->
            </div>
            <!--end::Sidebar-->
            <!--begin::Content-->
            <div class="flex-lg-row-fluid ms-lg-15">
                <!--begin:::Tabs-->
                <ul
                    class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-bold mb-8"
                >
                    <!--begin:::Tab item-->
                    <li class="nav-item">
                        <a
                            class="nav-link text-active-primary pb-4 active"
                            data-bs-toggle="tab"
                            href="#kt_customer_view_dashboard_tab"
                            >{{ $t("Dashboard") }}</a
                        >
                    </li>
                    <!--end:::Tab item-->

                    <!--begin:::Tab item-->
                    <li class="nav-item">
                        <a
                            class="nav-link text-active-primary pb-4"
                            data-bs-toggle="tab"
                            href="#kt_customer_view_stores_tab"
                            >{{ $t("Stores") }}</a
                        >
                    </li>
                    <!--end:::Tab item-->

                    <!--begin:::Tab item-->
                    <li class="nav-item">
                        <a
                            class="nav-link text-active-primary pb-4"
                            data-kt-countup-tabs="true"
                            data-bs-toggle="tab"
                            href="#kt_customer_view_users_tab"
                            >{{ $t("Users") }}</a
                        >
                    </li>
                    <!--end:::Tab item-->
                </ul>
                <!--end:::Tabs-->
                <!--begin:::Tab content-->
                <div class="tab-content" id="myTabContent">
                    <!--begin:::Tab pane-->
                    <div
                        class="tab-pane fade active show"
                        id="kt_customer_view_dashboard_tab"
                        role="tabpanel"
                    >
                        <!--begin::Card-->
                        <div class="card pt-4 mb-6 mb-xl-9">
                            <!--begin::Card header-->
                            <div class="card-header border-0">
                                <!--begin::Card title-->
                                <div class="card-title">
                                    <h2 class="fw-bolder">
                                        Subscription Balance
                                    </h2>
                                </div>
                                <!--end::Card title-->
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body pt-0">
                                <div class="fw-bolder fs-2">
                                    <i class="bi bi-hourglass-split"></i> 30
                                    <span class="text-muted fs-4 fw-bold"
                                        >Days</span
                                    >
                                </div>
                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::Card-->
                    </div>
                    <!--end:::Tab pane-->

                    <!--begin:::Tab pane-->
                    <div
                        class="tab-pane fade"
                        id="kt_customer_view_stores_tab"
                        role="tabpanel"
                    >
                        <!--begin::Card-->
                        <div class="card pt-4 mb-6 mb-xl-9">
                            <!--begin::Card header-->
                            <div class="card-header border-0">
                                <!--begin::Card title-->
                                <div class="card-title">
                                    <h2>Stores</h2>
                                </div>
                                <!--end::Card title-->
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body pt-0 pb-5">
                                <!--begin::Table-->
                                <div
                                    id="kt_table_customers_payment_wrapper"
                                    class="dataTables_wrapper dt-bootstrap4 no-footer"
                                >
                                    <div class="table-responsive">
                                        <table
                                            class="table align-middle table-row-dashed gy-5 dataTable no-footer"
                                            id="kt_table_customers_payment"
                                        >
                                            <!--begin::Table head-->
                                            <thead
                                                class="border-bottom border-gray-200 fs-7 fw-bolder"
                                            >
                                                <!--begin::Table row-->
                                                <tr
                                                    class="text-start text-muted text-uppercase gs-0"
                                                >
                                                    <th>Logo</th>
                                                    <th>Store Name</th>
                                                    <th>Total Users</th>
                                                    <th>Total Orders</th>
                                                    <th>Total Order Amount</th>
                                                    <th>Status</th>
                                                    <th>Created At</th>
                                                </tr>
                                                <!--end::Table row-->
                                            </thead>
                                            <!--end::Table head-->
                                            <!--begin::Table body-->
                                            <tbody
                                                class="fs-6 fw-bold text-gray-600"
                                            >
                                                <tr
                                                    v-for="(
                                                        store_data, store_index
                                                    ) in merchant.store_data"
                                                    :key="store_index"
                                                >
                                                    <td>
                                                        <img
                                                            :src="
                                                                store_data.logo
                                                            "
                                                            class="img rounded"
                                                            alt=""
                                                            width="75"
                                                        />
                                                    </td>
                                                    <td>
                                                        {{
                                                            store_data.store_name
                                                        }}
                                                    </td>
                                                    <td>
                                                        {{
                                                            store_data.total_users
                                                        }}
                                                    </td>
                                                    <td>
                                                        {{
                                                            store_data.total_orders
                                                        }}
                                                    </td>
                                                    <td>
                                                        <span
                                                            class="text-primary"
                                                        >
                                                            {{
                                                                store_data.total_order_amount
                                                            }}
                                                            <span
                                                                class="fs-8"
                                                                v-if="
                                                                    store_data.total_order_amount !=
                                                                    null
                                                                "
                                                            >
                                                                SAR</span
                                                            >
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <div
                                                            class="form-check form-switch form-check-custom form-check-solid me-10 mt-2"
                                                        >
                                                            <span
                                                                v-if="
                                                                    store_data.status ==
                                                                    1
                                                                "
                                                                class="badge bg-success me-4"
                                                                >Active</span
                                                            >
                                                            <span
                                                                v-else
                                                                class="badge bg-warning me-4"
                                                                >Inactive</span
                                                            >
                                                            <input
                                                                class="form-check-input h-25px w-40px"
                                                                type="checkbox"
                                                                @change="
                                                                    updateStoreStatus(
                                                                        store_data.slack,
                                                                        store_data.status
                                                                    )
                                                                "
                                                                v-model="
                                                                    store_data.status
                                                                "
                                                                :checked="
                                                                    store_data.status ==
                                                                    1
                                                                "
                                                            />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        {{
                                                            store_data.created_at
                                                        }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <!--end::Table body-->
                                        </table>
                                    </div>
                                </div>
                                <!--end::Table-->
                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::Card-->
                    </div>
                    <!--end:::Tab pane-->

                    <!--begin:::Tab pane-->
                    <div
                        class="tab-pane fade"
                        id="kt_customer_view_users_tab"
                        role="tabpanel"
                    >
                        <!--begin::Card-->
                        <div class="card pt-4 mb-6 mb-xl-9">
                            <!--begin::Card header-->
                            <div class="card-header border-0">
                                <!--begin::Card title-->
                                <div class="card-title">
                                    <h2>Users</h2>
                                </div>
                                <!--end::Card title-->
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body pt-0 pb-5">
                                <!--begin::Table-->
                                <div
                                    id="kt_table_customers_payment_wrapper"
                                    class="dataTables_wrapper dt-bootstrap4 no-footer"
                                >
                                    <div class="table-responsive">
                                        <table
                                            class="table align-middle table-row-dashed gy-5 dataTable no-footer"
                                            id="kt_table_customers_payment"
                                        >
                                            <!--begin::Table head-->
                                            <thead
                                                class="border-bottom border-gray-200 fs-7 fw-bolder"
                                            >
                                                <!--begin::Table row-->
                                                <tr
                                                    class="text-start text-muted text-uppercase gs-0"
                                                >
                                                    <th>Name</th>
                                                    <th>Email</th>
                                                    <th>Phone</th>
                                                    <th>Role</th>
                                                    <th>Store</th>
                                                    <th>Is Master</th>
                                                    <th>Status</th>
                                                    <th>Created At</th>
                                                </tr>
                                                <!--end::Table row-->
                                            </thead>
                                            <!--end::Table head-->
                                            <!--begin::Table body-->
                                            <tbody
                                                class="fs-6 fw-bold text-gray-600"
                                            >
                                                <tr
                                                    v-for="(
                                                        user_data, user_index
                                                    ) in merchant.user_data"
                                                    :key="user_index"
                                                >
                                                    <td>
                                                        {{ user_data.name }}
                                                    </td>
                                                    <td>
                                                        {{ user_data.email }}
                                                    </td>
                                                    <td>
                                                        {{ user_data.phone }}
                                                    </td>
                                                    <td>
                                                        <span
                                                            v-if="
                                                                user_data.role_name !=
                                                                ''
                                                            "
                                                            class="badge badge-light-info"
                                                            >{{
                                                                user_data.role_name
                                                            }}</span
                                                        >
                                                    </td>
                                                    <td>
                                                        <span
                                                            v-if="
                                                                user_data.store_name !=
                                                                ''
                                                            "
                                                            class="badge badge-light-primary"
                                                            >{{
                                                                user_data.store_name
                                                            }}</span
                                                        >
                                                    </td>
                                                    <td>
                                                        <span
                                                            v-if="
                                                                user_data.is_master ==
                                                                1
                                                            "
                                                            class="badge badge-light-success"
                                                            >Yes</span
                                                        >
                                                        <span
                                                            v-else
                                                            class="badge badge-light-danger"
                                                            >No</span
                                                        >
                                                    </td>
                                                    <td>
                                                        <div
                                                            class="form-check form-switch form-check-custom form-check-solid me-10 mt-2"
                                                        >
                                                            <span
                                                                v-if="
                                                                    user_data.status ==
                                                                    1
                                                                "
                                                                class="badge bg-success me-4"
                                                                >Active</span
                                                            >
                                                            <span
                                                                v-else
                                                                class="badge bg-warning me-4"
                                                                >Inactive</span
                                                            >
                                                            <input
                                                                class="form-check-input h-25px w-40px"
                                                                type="checkbox"
                                                                @change="
                                                                    updateUserStatus(
                                                                        user_data.slack,
                                                                        user_data.status
                                                                    )
                                                                "
                                                                v-model="
                                                                    user_data.status
                                                                "
                                                                :checked="
                                                                    user_data.status ==
                                                                    1
                                                                "
                                                            />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        {{
                                                            user_data.created_at
                                                        }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <!--end::Table body-->
                                        </table>
                                    </div>
                                </div>
                                <!--end::Table-->
                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::Card-->
                    </div>
                    <!--end:::Tab pane-->
                </div>
                <!--end:::Tab content-->
            </div>
            <!--end::Content-->
        </div>
    </SidebarLayout>
</template>

<script>
import SidebarLayout from "../layouts/sidebar";
import _ from "lodash";

export default {
    data() {
        return {
            merchant_status: this.merchant.status,
        };
    },
    props: {
        merchant: Object,
    },
    components: {
        SidebarLayout,
    },

    mounted() {},

    methods: {
        updateMerchantStatus() {
            let formData = new FormData();
            formData.append("slack", this.merchant.slack);
            formData.append("status", this.merchant_status ? 1 : 0);

            axios
                .post("/api/merchant/update_status", formData)
                .then((response) => {
                    console.log(response);
                    if (response.data.status_code == 200) {
                        Swal.fire({
                            text: response.data.msg,
                            icon:
                                response.data.data.status == 1
                                    ? "success"
                                    : "warning",
                            buttonsStyling: false,
                            confirmButtonText: "Ok, got it!",
                            customClass: {
                                confirmButton: "btn btn-primary",
                            },
                        });
                    } else {
                    }
                })
                .catch((error) => {});
        },
        updateStoreStatus(slack, status) {
            let formData = new FormData();
            formData.append("merchant_db", this.merchant.db_name);
            formData.append("slack", slack);
            formData.append("status", status ? 1 : 0);

            axios
                .post("/api/merchant/store/update_status", formData)
                .then((response) => {
                    console.log(response);
                    if (response.data.status_code == 200) {
                        Swal.fire({
                            text: response.data.msg,
                            icon:
                                response.data.data.status == 1
                                    ? "success"
                                    : "warning",
                            buttonsStyling: false,
                            confirmButtonText: "Ok, got it!",
                            customClass: {
                                confirmButton: "btn btn-primary",
                            },
                        });
                    } else {
                    }
                })
                .catch((error) => {});
        },
        updateUserStatus(slack, status) {
            let formData = new FormData();
            formData.append("merchant_db", this.merchant.db_name);
            formData.append("slack", slack);
            formData.append("status", status ? 1 : 0);

            axios
                .post("/api/merchant/user/update_status", formData)
                .then((response) => {
                    console.log(response);
                    if (response.data.status_code == 200) {
                        Swal.fire({
                            text: response.data.msg,
                            icon:
                                response.data.data.status == 1
                                    ? "success"
                                    : "warning",
                            buttonsStyling: false,
                            confirmButtonText: "Ok, got it!",
                            customClass: {
                                confirmButton: "btn btn-primary",
                            },
                        });
                    } else {
                    }
                })
                .catch((error) => {});
        },
    },
};
</script>
