<template>
    <SidebarLayout>
        <div class="card card-flush h-lg-100" id="kt_contacts_main">
            <!--begin::Card header-->
            <div class="card-header pt-7" id="kt_chat_contacts_header">
                <!--begin::Card title-->
                <div class="card-title">
                    <h2>{{ $t("Add New Device") }}</h2>
                </div>
                <!--end::Card title-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-5">
                <form class="" @submit.prevent="submit" method="POST">
                    <p
                        v-show="error_class.device != ''"
                        v-html="server_errors"
                        v-bind:class="[error_class.device]"
                    ></p>
                    <div
                        class="alert alert-success"
                        v-show="device_success_msg != ''"
                    >
                        {{ $t(device_success_msg) }}
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label
                                for="image"
                                class="fs-6 fw-bold form-label mt-3"
                            >
                                <span class="required">
                                    {{ $t("Image") }} (jpeg, jpg, png)
                                </span>
                            </label>
                            <input
                                type="file"
                                class="form-control-file form-control form-control-custom file-input"
                                name="image"
                                ref="image"
                                accept="image/x-png,image/jpeg,image/webp"
                            />
                            <small class="form-text text-muted mb-1">
                                {{
                                    $t("Allowed file size per file is 3 MB")
                                }}</small
                            >
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">
                                        {{ $t("Name") }}
                                    </span>
                                </label>
                                <input
                                    type="text"
                                    v-model="title"
                                    :class="{
                                        'is-invalid':
                                            device_submitted && $v.title.$error,
                                    }"
                                    class="form-control form-control-solid"
                                />
                                <div
                                    v-if="
                                        device_submitted && !$v.title.required
                                    "
                                    class="invalid-feedback"
                                >
                                    {{ $t("Device Name is required") }}
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">{{
                                        $t("Name (Arabic)")
                                    }}</span>
                                </label>
                                <input
                                    type="text"
                                    v-model="title_ar"
                                    :class="{
                                        'is-invalid':
                                            device_submitted &&
                                            $v.title_ar.$error,
                                    }"
                                    class="form-control form-control-solid"
                                />
                                <div
                                    v-if="
                                        device_submitted &&
                                        !$v.title_ar.required
                                    "
                                    class="invalid-feedback"
                                >
                                    {{ $t("Device Name is required") }}
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">{{
                                        $t("Short Description")
                                    }}</span>
                                </label>
                                <input
                                    type="text"
                                    v-model="short_description"
                                    :class="{
                                        'is-invalid':
                                            device_submitted &&
                                            $v.short_description.$error,
                                    }"
                                    class="form-control form-control-solid"
                                />
                                <div
                                    v-if="
                                        device_submitted &&
                                        !$v.short_description.required
                                    "
                                    class="invalid-feedback"
                                >
                                    {{ $t("Short Description is required") }}
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">{{
                                        $t("Short Description (Arabic)")
                                    }}</span>
                                </label>
                                <input
                                    type="text"
                                    v-model="short_description_ar"
                                    :class="{
                                        'is-invalid':
                                            device_submitted &&
                                            $v.short_description_ar.$error,
                                    }"
                                    class="form-control form-control-solid"
                                />
                                <div
                                    v-if="
                                        device_submitted &&
                                        !$v.short_description_ar.required
                                    "
                                    class="invalid-feedback"
                                >
                                    {{
                                        $t(
                                            "Short Description (Arabic) is required"
                                        )
                                    }}
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">{{
                                        $t("Amount")
                                    }}</span>
                                </label>
                                <input
                                    type="text"
                                    v-model="amount"
                                    :class="{
                                        'is-invalid':
                                            device_submitted &&
                                            $v.amount.$error,
                                    }"
                                    class="form-control form-control-solid"
                                />
                                <div
                                    v-if="
                                        device_submitted && !$v.amount.required
                                    "
                                    class="invalid-feedback"
                                >
                                    {{ $t("Amount is required") }}
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span>{{ $t("Discount") }}</span>
                                </label>
                                <input
                                    type="text"
                                    v-model="discount"
                                    class="form-control form-control-solid"
                                />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span>{{
                                        $t("Discount Description")
                                    }}</span>
                                </label>
                                <input
                                    type="text"
                                    v-model="discount_description"
                                    class="form-control form-control-solid"
                                />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span>{{
                                        $t("Discount Description (Arabic)")
                                    }}</span>
                                </label>
                                <input
                                    type="text"
                                    v-model="discount_description_ar"
                                    class="form-control form-control-solid"
                                />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">{{
                                        $t("Is Featured")
                                    }}</span>
                                </label>
                                <div
                                    class="form-check form-switch form-check-custom form-check-solid me-10 mt-2"
                                >
                                    <input
                                        class="form-check-input h-25px w-40px"
                                        type="checkbox"
                                        v-model="is_featured"
                                        :checked="is_featured == 1"
                                    />
                                    <span class="ps-1">{{ $t("Yes") }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">{{
                                        $t("Status")
                                    }}</span>
                                </label>
                                <div
                                    class="form-check form-switch form-check-custom form-check-solid me-10 mt-2"
                                >
                                    <input
                                        class="form-check-input h-25px w-40px"
                                        type="checkbox"
                                        v-model="status"
                                        :checked="status == 1"
                                    />
                                    <span class="ps-1">{{ $t("Active") }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="separator mb-6 my-5"></div>
                    <div class="row">
                        <div class="col-12 text-end">
                            <button class="btn btn-primary">
                                {{ $t("Save") }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!--end::Card body-->
        </div>
    </SidebarLayout>
</template>

<script>
import SidebarLayout from "../layouts/sidebar";
import { required } from "vuelidate/lib/validators";

export default {
    components: {
        SidebarLayout,
    },
    data() {
        return {
            /* Validation & Error Handling Setup */
            server_errors: "",
            error_class: {
                device: "",
            },

            submit_api:
                this.edit_data != null
                    ? "/api/device/update"
                    : "/api/device/add",

            /* login */
            device_success_msg: "",
            device_submitted: false,

            // form data
            title: this.edit_data != null ? this.edit_data.title : "",
            title_ar: this.edit_data != null ? this.edit_data.title_ar : "",
            short_description:
                this.edit_data != null ? this.edit_data.short_description : "",
            short_description_ar:
                this.edit_data != null
                    ? this.edit_data.short_description_ar
                    : "",
            currency: this.edit_data != null ? this.edit_data.currency : "SAR",
            amount: this.edit_data != null ? this.edit_data.amount : "",
            discount: this.edit_data != null ? this.edit_data.discount : "",
            discount_description:
                this.edit_data != null
                    ? this.edit_data.discount_description
                    : "",
            discount_description_ar:
                this.edit_data != null
                    ? this.edit_data.discount_description_ar
                    : "",
            is_featured:
                this.edit_data != null ? this.edit_data.is_featured : "",
            status: this.edit_data != null ? this.edit_data.status : "",
        };
    },
    props: {
        edit_data: {
            type: [Array, Object],
            default: null,
        },
    },
    validations: {
        title: { required },
        title_ar: { required },
        short_description: { required },
        short_description_ar: { required },
        amount: { required },
    },
    created() {
        // redirect to dashboard page if user has already logged in and trying to access login page
    },
    mounted() {
        console.log("Add Device Component mounted.");
    },
    methods: {
        submit() {
            this.device_submitted = true;

            // stop here if form is invalid
            this.$v.$touch();

            if (this.$v.$invalid) {
                return;
            }

            var formData = new FormData();
            if (this.edit_data != null) {
                formData.append("slack", this.edit_data.slack);
            }

            formData.append(
                "image",
                this.$refs.image.files.length > 0
                    ? this.$refs.image.files[0]
                    : ""
            );
            formData.append("title", this.title);
            formData.append("title_ar", this.title_ar);
            formData.append("short_description", this.short_description);
            formData.append("short_description_ar", this.short_description_ar);
            formData.append("currency", this.currency);
            formData.append("amount", this.amount);
            formData.append("discount", this.discount);
            formData.append("discount_description", this.discount_description);
            formData.append(
                "discount_description_ar",
                this.discount_description_ar
            );
            formData.append("is_featured", this.is_featured);
            formData.append("status", this.status);

            axios
                .post(this.submit_api, formData)
                .then((response) => {
                    if (response.data.status_code == 200) {
                        this.error_class.device = "";
                        this.device_success_msg = response.data.msg;
                    } else {
                        try {
                            var error_json = JSON.parse(response.data.msg);
                            this.loop_api_errors(error_json);
                        } catch (err) {
                            this.server_errors = response.data.msg;
                        }
                        this.error_class.device = "error";
                        this.device_success_msg = "";
                    }
                })
                .catch((error) => {
                    var error_json = JSON.parse(error.response.data.message);
                    this.loop_api_errors(error_json);
                    this.error_class.device = "error";
                    this.device_success_msg = "";
                });
        },
    },
};
</script>
