<template>
    <SidebarLayout>
        <div class="content flex-column-fluid" id="kt_content">
            <div class="card p-3 mb-2">
                <div class="row">
                    <div class="col-md-4">
                        <div
                            class="d-flex align-items-center position-relative"
                        >
                            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                            <span
                                class="svg-icon svg-icon-1 position-absolute ms-6"
                            >
                                <i class="fa fa-search"></i>
                            </span>
                            <!--end::Svg Icon-->
                            <input
                                type="text"
                                v-model="search_filters.search_term"
                                class="form-control form-control-solid ps-14 border-secondary"
                                :placeholder="search_placeholder"
                            />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <select
                            class="form-select form-select-solid"
                            v-model="search_filters.status"
                        >
                            <option value="">{{ $t("Select Status") }}</option>
                            <option value="1">{{ $t("Active") }}</option>
                            <option value="0">{{ $t("Inactive") }}</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 text-end">
                        <button
                            class="btn btn-secondary btn-sm"
                            @click="getSubscriptions"
                        >
                            {{ $t("Filter") }}
                        </button>
                        <button
                            v-if="showResetFilter"
                            class="btn btn-danger btn-sm"
                            @click="resetFilters"
                        >
                            {{ $t("Reset Filter") }}
                        </button>
                    </div>
                </div>
            </div>
            <!--begin::Card-->
            <div class="card">
                <!--begin::Card header-->
                <div class="row">
                    <!--begin::Card title-->
                    <div class="card-header border-0 pt-2">
                        <div class="col-12">
                            <h2></h2>
                        </div>
                        <div class="col-6">
                            <div class="">
                                <!--begin::Search-->

                                <!--end::Search-->
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-toolbar float-end">
                                <!--begin::Toolbar-->
                                <div
                                    class="d-flex justify-content-end"
                                    data-kt-subscription-table-toolbar="base"
                                >
                                    <!--begin::Add subscription-->
                                    <a
                                        :href="'/subscription/add'"
                                        class="btn btn-primary"
                                    >
                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                                        <span class="svg-icon svg-icon-2">
                                            <i class="fa fa-plus"></i>
                                        </span>
                                        <!--end::Svg Icon-->{{
                                            $t("Add Subscription")
                                        }}
                                    </a>
                                    <!--end::Add subscription-->
                                </div>
                                <!--end::Toolbar-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    <!--begin::Table-->
                    <div
                        id="kt_subscriptions_table_wrapper"
                        class="dataTables_wrapper dt-bootstrap4 no-footer"
                    >
                        <div
                            class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start"
                        >
                            <div
                                class="dataTables_length"
                                id="kt_datatable_example_4_length"
                            >
                                <label
                                    ><select
                                        v-model="paginate"
                                        aria-controls="kt_datatable_example_4"
                                        class="form-select form-select-sm form-select-solid"
                                    >
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select></label
                                >
                            </div>
                            <div
                                class="dataTables_info"
                                id="kt_datatable_example_4_info"
                                subscription="status"
                                aria-live="polite"
                            >
                                {{ $t("Showing") }} {{ pageRecordsFrom }}
                                {{ $t("to") }} {{ pageRecordsTo }}
                                {{ $t("of") }} {{ pageRecordsTotal }}
                                {{ $t("records") }}
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer"
                                id="kt_subscriptions_table"
                            >
                                <!--begin::Table head-->
                                <thead>
                                    <!--begin::Table row-->
                                    <tr class="text-muted">
                                        <th>{{ $t("Name") }}</th>
                                        <th>{{ $t("Name (Arabic)") }}</th>
                                        <th>{{ $t("Description") }}</th>
                                        <th>
                                            {{ $t("Description (Arabic)") }}
                                        </th>
                                        <th>{{ $t("Type & Tenure") }}</th>
                                        <th>{{ $t("Amount") }}</th>
                                        <th>{{ $t("Is Featured") }}</th>
                                        <th>{{ $t("Status") }}</th>
                                        <th>{{ $t("Created By") }}</th>
                                        <th class="text-end">
                                            {{ $t("Actions") }}
                                        </th>
                                    </tr>
                                    <!--end::Table row-->
                                </thead>
                                <!--end::Table head-->
                                <!--begin::Table body-->
                                <tbody
                                    v-if="subscriptions.data"
                                    class="text-gray-600 fw-bold"
                                >
                                    <tr
                                        v-for="subscription in subscriptions.data"
                                        :key="subscription.id"
                                    >
                                        <td>{{ subscription.title }}</td>
                                        <td>{{ subscription.title_ar }}</td>
                                        <td>
                                            {{ subscription.short_description }}
                                        </td>
                                        <td>
                                            {{
                                                subscription.short_description_ar
                                            }}
                                        </td>
                                        <td>
                                            {{
                                                subscription.subscription_tenure
                                            }}
                                            <span
                                                v-if="
                                                    subscription.subscription_type ==
                                                    1
                                                "
                                                >Month</span
                                            >
                                            <span v-else>Year</span>
                                        </td>
                                        <td>
                                            {{ subscription.amount }}
                                            {{ subscription.currency }}
                                        </td>
                                        <td>
                                            <span
                                                v-if="subscription.is_featured"
                                                class="badge badge-success"
                                                >Yes</span
                                            >
                                            <span
                                                v-else
                                                class="badge badge-warning"
                                                >No</span
                                            >
                                        </td>
                                        <td>
                                            <StatusLabel
                                                :status="subscription.status"
                                            ></StatusLabel>
                                        </td>
                                        <td>
                                            {{
                                                subscription.created_by != null
                                                    ? subscription.created_by
                                                          .name
                                                    : "-"
                                            }}
                                        </td>
                                        <td class="text-end">
                                            <a
                                                class="btn btn-sm bg-danger text-white"
                                                :href="
                                                    '/subscription/menus/' +
                                                    subscription.slack
                                                "
                                            >
                                                {{ $t("Manage Menus") }}
                                            </a>
                                            <a
                                                class="btn btn-sm bg-info text-white"
                                                :href="
                                                    '/subscription/' +
                                                    subscription.slack
                                                "
                                            >
                                                {{ $t("View") }}
                                            </a>
                                            <a
                                                class="btn btn-sm bg-primary text-white"
                                                :href="
                                                    '/subscription/add/' +
                                                    subscription.slack
                                                "
                                            >
                                                {{ $t("Edit") }}
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                                <!--end::Table body-->
                            </table>
                        </div>
                    </div>

                    <!--end::Table-->
                </div>
                <div class="row pb-5 text-end">
                    <div class="col-12 text-end">
                        <paginations
                            :data="subscriptions"
                            :limit="10"
                            @pagination-change-page="getSubscriptions"
                        >
                            <!-- <span slot="prev-nav">&lt; Previous</span>
                            <span slot="next-nav">Next &gt;</span> -->
                        </paginations>
                    </div>
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->
        </div>
    </SidebarLayout>
</template>

<script>
import SidebarLayout from "../layouts/sidebar";
import _ from "lodash";
import StatusLabel from "../common/StatusLabel.vue";

export default {
    data() {
        return {
            subscriptions: {},
            paginate: 25,
            search_filters: this.initialState(),
            search_placeholder: this.$t(
                "Search subscription by title, description, amount..."
            ),
        };
    },
    components: {
        SidebarLayout,
        StatusLabel,
    },

    computed: {
        pageRecordsFrom() {
            return this.subscriptions.meta ? this.subscriptions.meta.from : 0;
        },
        pageRecordsTo() {
            return this.subscriptions.meta ? this.subscriptions.meta.to : 0;
        },
        pageRecordsTotal() {
            return this.subscriptions.meta ? this.subscriptions.meta.total : 0;
        },
        showResetFilter() {
            if (
                JSON.stringify(this.search_filters) !=
                JSON.stringify(this.initialState())
            ) {
                return true;
            } else {
                return false;
            }
        },
    },

    watch: {
        paginate: function () {
            this.getSubscriptions();
        },
    },

    mounted() {
        // get subscriptions when page loads
        this.getSubscriptions();
    },

    methods: {
        initialState() {
            return {
                search_term: "",
                status: "",
            };
        },
        getSubscriptions(page = 1) {
            axios
                .get("/api/subscriptions", {
                    params: {
                        page: page,
                        paginate: this.paginate,
                        query: this.search_filters,
                    },
                })
                .then((response) => {
                    this.subscriptions = response.data;
                });
        },
        resetFilters() {
            this.search_filters = this.initialState();
            this.getSubscriptions();
        },
    },
};
</script>
