<template>
    <SidebarLayout>
        <div class="card card-flush h-lg-100" id="kt_contacts_main">
            <!--begin::Card header-->
            <div class="card-header pt-7" id="kt_chat_contacts_header">
                <!--begin::Card title-->
                <div class="card-title">
                    <h2>{{ title }}</h2>
                </div>
                <!--end::Card title-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-5">
                <form class="" @submit.prevent="submit" method="POST">
                    <p
                        v-show="error_class.subscription_menu != ''"
                        v-html="server_errors"
                        v-bind:class="[error_class.subscription_menu]"
                    ></p>
                    <div
                        class="alert alert-success"
                        v-show="subscription_menu_success_msg != ''"
                    >
                        {{ subscription_menu_success_msg }}
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h4 class="pt-5 mt-5 pb-1">Select Permissions</h4>
                        </div>
                        <div class="col-md-12">
                            <ul class="list-group">
                                <li
                                    class="list-group-item border-0 p-2 m-2"
                                    v-for="(menu, index) in merchant_menus"
                                    v-bind:key="index"
                                >
                                    <div
                                        class="form-check form-check-custom form-check-solid"
                                    >
                                        <input
                                            class="form-check-input"
                                            type="checkbox"
                                            v-model="menu_selected"
                                            v-bind:value="menu.menu_key"
                                            v-bind:id="menu.menu_key"
                                            @click="
                                                menu_checker({
                                                    type: menu.type,
                                                    current: menu.menu_key,
                                                    parent: '',
                                                    grand_parent: '',
                                                    children: menu.childs,
                                                    siblings: menu.siblings,
                                                    event: $event,
                                                })
                                            "
                                        />
                                        <label
                                            class="form-check-label fw-bold fs-6"
                                            v-bind:for="menu.menu_key"
                                        >
                                            {{ menu.label }}
                                        </label>
                                    </div>

                                    <ul class="list-group">
                                        <li
                                            class="list-group-item border-0 my-2 ms-5"
                                            v-for="(
                                                submenu_item, index
                                            ) in menu.sub_menu"
                                            v-bind:key="index"
                                        >
                                            <div
                                                class="form-check form-check-custom form-check-solid"
                                            >
                                                <input
                                                    class="form-check-input"
                                                    type="checkbox"
                                                    v-model="menu_selected"
                                                    v-bind:value="
                                                        submenu_item.menu_key
                                                    "
                                                    v-bind:id="
                                                        submenu_item.menu_key
                                                    "
                                                    @click="
                                                        menu_checker({
                                                            type: submenu_item.type,
                                                            current:
                                                                submenu_item.menu_key,
                                                            parent: menu.menu_key,
                                                            grand_parent: '',
                                                            children:
                                                                submenu_item.childs,
                                                            siblings:
                                                                submenu_item.siblings,
                                                            event: $event,
                                                        })
                                                    "
                                                />
                                                <label
                                                    class="form-check-label"
                                                    v-bind:for="
                                                        submenu_item.menu_key
                                                    "
                                                >
                                                    {{ submenu_item.label }}
                                                </label>
                                            </div>
                                            <ul class="list-group">
                                                <li
                                                    class="list-group-item border-0 my-1 ms-5"
                                                    v-for="(
                                                        action_item, index
                                                    ) in submenu_item.actions"
                                                    v-bind:key="index"
                                                >
                                                    <div
                                                        class="form-check form-check-custom form-check-solid form-check-inline"
                                                    >
                                                        <input
                                                            class="form-check-input"
                                                            type="checkbox"
                                                            v-model="
                                                                menu_selected
                                                            "
                                                            v-bind:value="
                                                                action_item.menu_key
                                                            "
                                                            v-bind:id="
                                                                action_item.menu_key
                                                            "
                                                            @click="
                                                                menu_checker({
                                                                    type: action_item.type,
                                                                    current:
                                                                        action_item.menu_key,
                                                                    parent: submenu_item.menu_key,
                                                                    grand_parent:
                                                                        menu.menu_key,
                                                                    children:
                                                                        '',
                                                                    siblings:
                                                                        action_item.siblings,
                                                                    event: $event,
                                                                })
                                                            "
                                                        />
                                                        <label
                                                            class="form-check-label"
                                                            v-bind:for="
                                                                action_item.menu_key
                                                            "
                                                        >
                                                            {{
                                                                action_item.label
                                                            }}
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="separator mb-6 my-5"></div>
                    <div class="row">
                        <div class="col-12 text-end">
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--end::Card body-->
        </div>
    </SidebarLayout>
</template>

<script>
import SidebarLayout from "../layouts/sidebar";

export default {
    components: {
        SidebarLayout,
    },
    data() {
        return {
            /* Validation & Error Handling Setup */
            server_errors: "",
            error_class: {
                role: "",
            },

            submit_api: "/api/subscription/menu/update",

            /* login */
            subscription_menu_success_msg: "",
            subscription_menu_submitted: false,
            // form data
            menu_selected: this.edit_data == null ? [] : this.edit_data.menus,
        };
    },
    props: {
        title: String,
        edit_data: Array,
        merchant_menus: Array,
    },
    created() {
        // redirect to dashboard page if user has already logged in and trying to access login page
    },
    mounted() {
        console.log("Subscription Menu Component mounted.");
    },
    methods: {
        array_remove(arr, value) {
            return arr.filter(function (ele) {
                return ele != value;
            });
        },
        menu_checker(payload) {
            if (payload.event.target.checked == true) {
                if (payload.type == "ACTIONS") {
                    this.menu_selected.push(payload.current);
                    this.menu_selected.push(payload.parent);
                    this.menu_selected.push(payload.grand_parent);
                }
                if (payload.type == "SUB_MENU") {
                    this.menu_selected.push(payload.current);
                    this.menu_selected.push(payload.parent);
                    this.menu_selected = this.menu_selected.concat(
                        payload.children
                    );
                }
                if (payload.type == "MAIN_MENU") {
                    this.menu_selected.push(payload.current);
                    this.menu_selected = this.menu_selected.concat(
                        payload.children
                    );
                }
            } else {
                if (payload.type == "ACTIONS") {
                    this.menu_selected = this.array_remove(
                        this.menu_selected,
                        payload.current
                    );

                    var sibling_count = 0;
                    for (var i = 0; i < payload.siblings.length; i++) {
                        if (this.menu_selected.includes(payload.siblings[i])) {
                            sibling_count++;
                        }
                    }
                    if (sibling_count == 0) {
                        this.menu_selected = this.array_remove(
                            this.menu_selected,
                            payload.parent
                        );
                    }

                    if (
                        typeof this.merchant_menus[payload.grand_parent] !=
                        "undefined"
                    ) {
                        var children_selected_check_count = 0;
                        var children =
                            this.merchant_menus[payload.grand_parent]["childs"];
                        for (var i = 0; i < children.length; i++) {
                            if (this.menu_selected.includes(children[i])) {
                                children_selected_check_count++;
                            }
                        }
                        if (children_selected_check_count == 0) {
                            this.menu_selected = this.array_remove(
                                this.menu_selected,
                                payload.grand_parent
                            );
                        }
                    }
                }
                if (payload.type == "SUB_MENU") {
                    this.menu_selected = this.array_remove(
                        this.menu_selected,
                        payload.current
                    );
                    for (var i = 0; i < payload.children.length; i++) {
                        this.menu_selected = this.array_remove(
                            this.menu_selected,
                            payload.children[i]
                        );
                    }
                    var sibling_count = 0;
                    for (var i = 0; i < payload.siblings.length; i++) {
                        if (this.menu_selected.includes(payload.siblings[i])) {
                            sibling_count++;
                        }
                    }
                    if (sibling_count == 0) {
                        this.menu_selected = this.array_remove(
                            this.menu_selected,
                            payload.parent
                        );
                    }
                }
                if (payload.type == "MAIN_MENU") {
                    this.menu_selected = this.array_remove(
                        this.menu_selected,
                        payload.current
                    );
                    for (var i = 0; i < payload.children.length; i++) {
                        this.menu_selected = this.array_remove(
                            this.menu_selected,
                            payload.children[i]
                        );
                    }
                }
            }
        },
        submit() {
            this.subscription_menu_submitted = true;

            var formData = new FormData();
            if (this.edit_data != null) {
                formData.append("slack", this.edit_data.slack);
            }

            formData.append("subscription_menus", this.menu_selected);

            axios
                .post(this.submit_api, formData)
                .then((response) => {
                    if (response.data.status_code == 200) {
                        this.error_class.role = "";
                        this.subscription_menu_success_msg = response.data.msg;
                    } else {
                        try {
                            var error_json = JSON.parse(response.data.msg);
                            this.loop_api_errors(error_json);
                        } catch (err) {
                            this.server_errors = response.data.msg;
                        }
                        this.error_class.role = "error";
                        this.subscription_menu_success_msg = "";
                    }
                })
                .catch((error) => {
                    var error_json = JSON.parse(error.response.data.message);
                    this.loop_api_errors(error_json);
                    this.error_class.role = "error";
                    this.subscription_menu_success_msg = "";
                });
        },
    },
};
</script>
