<template>
    <SidebarLayout>
        <div class="card card-flush pt-3 mb-5 mb-xl-10">
            <!--begin::Card header-->
            <div class="card-header">
                <!--begin::Card title-->
                <div class="card-title">
                    <h2 class="fw-bolder">{{ $t("Subscription Details") }}</h2>
                </div>
                <!--begin::Card title-->
                <!--begin::Card toolbar-->
                <div class="card-toolbar">
                    <a :href="'/subscriptions'" class="btn btn-light-primary">{{
                        $t("Go Back")
                    }}</a>
                </div>
                <!--end::Card toolbar-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-1">
                <!--begin::Section-->
                <div class="mb-10">
                    <!--begin::Details-->
                    <div class="d-flex flex-wrap py-1">
                        <!--begin::Row-->
                        <div class="flex-equal me-5">
                            <!--begin::Details-->
                            <table
                                class="table fs-6 fw-bold gs-0 gy-2 gx-2 m-0"
                            >
                                <!--begin::Row-->
                                <tbody>
                                    <tr>
                                        <td
                                            class="text-gray-400 min-w-175px w-175px"
                                        >
                                            {{ $t("Title") }}:
                                        </td>
                                        <td class="text-gray-800 min-w-200px">
                                            <span class="fw-bold">
                                                {{ subscription.title }}
                                            </span>
                                        </td>
                                    </tr>
                                    <!--end::Row-->
                                    <!--begin::Row-->
                                    <tr>
                                        <td class="text-gray-400">
                                            {{ $t("Short Description") }}:
                                        </td>
                                        <td class="text-gray-800">
                                            {{ subscription.short_description }}
                                        </td>
                                    </tr>
                                    <!--end::Row-->
                                    <!--begin::Row-->
                                    <tr>
                                        <td class="text-gray-400">
                                            {{ $t("Subscription Type") }}:
                                        </td>
                                        <td class="text-gray-800">
                                            <span
                                                v-if="
                                                    subscription.subscription_type ==
                                                    1
                                                "
                                                >Month</span
                                            >
                                            <span v-else>Year</span>
                                        </td>
                                    </tr>
                                    <!--end::Row-->
                                    <!--begin::Row-->
                                    <tr>
                                        <td class="text-gray-400">
                                            {{ $t("Amount") }}:
                                        </td>
                                        <td class="text-gray-800">
                                            {{ subscription.amount }}
                                        </td>
                                    </tr>
                                    <!--end::Row-->
                                    <!--begin::Row-->
                                    <tr>
                                        <td class="text-gray-400">
                                            {{ $t("Discount") }}:
                                        </td>
                                        <td class="text-gray-800">
                                            {{ subscription.discount }}
                                        </td>
                                    </tr>
                                    <!--end::Row-->
                                    <!--begin::Row-->
                                    <tr>
                                        <td class="text-gray-400">
                                            {{ $t("Discount") }}:
                                        </td>
                                        <td class="text-gray-800">
                                            {{
                                                subscription.discount_description
                                            }}
                                        </td>
                                    </tr>
                                    <!--end::Row-->
                                    <!--begin::Row-->
                                    <tr>
                                        <td class="text-gray-400">
                                            {{ $t("Created By") }}:
                                        </td>
                                        <td class="text-gray-800">
                                            {{ subscription.created_by.name }}
                                        </td>
                                    </tr>
                                    <!--end::Row-->
                                    <!--begin::Row-->
                                    <tr>
                                        <td class="text-gray-400">
                                            {{ $t("Created At") }}:
                                        </td>
                                        <td class="text-gray-800">
                                            {{ subscription.created_at_label }}
                                        </td>
                                    </tr>
                                    <!--end::Row-->
                                </tbody>
                            </table>
                            <!--end::Details-->
                        </div>
                        <!--end::Row-->
                        <!--begin::Row-->
                        <div class="flex-equal">
                            <!--begin::Details-->
                            <table
                                class="table fs-6 fw-bold gs-0 gy-2 gx-2 m-0"
                            >
                                <!--begin::Row-->
                                <tbody>
                                    <tr>
                                        <td
                                            class="text-gray-400 min-w-175px w-175px"
                                        >
                                            {{ $t("Title (Arabic)") }}:
                                        </td>
                                        <td class="text-gray-800 min-w-200px">
                                            <a
                                                href="#"
                                                class="text-gray-800 text-hover-primary"
                                                >{{ subscription.title_ar }}</a
                                            >
                                        </td>
                                    </tr>
                                    <!--end::Row-->
                                    <!--begin::Row-->
                                    <tr>
                                        <td class="text-gray-400">
                                            {{
                                                $t(
                                                    "Short Description (Arabic)"
                                                )
                                            }}:
                                        </td>
                                        <td class="text-gray-800">
                                            {{
                                                subscription.short_description_ar
                                            }}
                                        </td>
                                    </tr>
                                    <!--end::Row-->
                                    <!--begin::Row-->
                                    <tr>
                                        <td class="text-gray-400">
                                            {{ $t("Subscription Tenure") }}:
                                        </td>
                                        <td class="text-gray-800">
                                            {{
                                                subscription.subscription_tenure
                                            }}
                                        </td>
                                    </tr>
                                    <!--end::Row-->
                                    <!--begin::Row-->
                                    <tr>
                                        <td class="text-gray-400">
                                            {{
                                                $t(
                                                    "Discount Description (Arabic)"
                                                )
                                            }}:
                                        </td>
                                        <td class="text-gray-800">
                                            {{
                                                subscription.discount_description_ar
                                            }}
                                        </td>
                                    </tr>
                                    <!--end::Row-->
                                    <!--begin::Row-->
                                    <tr>
                                        <td class="text-gray-400">
                                            {{ $t("Status") }}:
                                        </td>
                                        <td class="text-gray-800">
                                            <StatusLabel
                                                :status="subscription.status"
                                            ></StatusLabel>
                                        </td>
                                    </tr>
                                    <!--end::Row-->
                                    <!--begin::Row-->
                                    <tr>
                                        <td class="text-gray-400">
                                            {{ $t("Updated By") }}:
                                        </td>
                                        <td class="text-gray-800">
                                            {{ subscription.updated_by.name }}
                                        </td>
                                    </tr>
                                    <!--end::Row-->
                                    <!--begin::Row-->
                                    <tr>
                                        <td class="text-gray-400">
                                            {{ $t("Updated At") }}:
                                        </td>
                                        <td class="text-gray-800">
                                            {{ subscription.updated_at_label }}
                                        </td>
                                    </tr>
                                    <!--end::Row-->
                                </tbody>
                            </table>
                            <!--end::Details-->
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Row-->
                </div>
                <!--end::Section-->
                <!--begin::Section-->
                <div class="mb-0">
                    <!--begin::Title-->
                    <h5 class="mb-4">{{ $t("Subscription Features") }}:</h5>
                    <!--end::Title-->
                    <!--begin::Product table-->
                    <div class="table-responsive">
                        <!--begin::Table-->
                        <table
                            class="table align-middle table-row-dashed fs-6 gy-4 mb-0"
                        >
                            <tbody class="fw-bold text-gray-800">
                                <tr
                                    v-for="(
                                        feature, feature_index
                                    ) in subscription.features"
                                    :key="feature_index"
                                >
                                    <td>
                                        <label class="w-150px">
                                            {{ feature.title }}
                                        </label>
                                        <div class="fw-normal text-gray-600">
                                            {{ feature.title_ar }}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <!--end::Table body-->
                        </table>
                        <!--end::Table-->
                    </div>
                    <!--end::Product table-->
                </div>
                <!--end::Section-->
            </div>
            <!--end::Card body-->
        </div>
    </SidebarLayout>
</template>

<script>
import SidebarLayout from "../layouts/sidebar";
import StatusLabel from "../common/StatusLabel.vue";

export default {
    props: {
        subscription: Array,
    },
    components: {
        SidebarLayout,
        StatusLabel,
    },
};
</script>
