<template>
    <SidebarLayout>
        <div class="row">
            <div class="col-3">
                <a :href="'/users'" class="card bg-body h-150px">
                    <div
                        class="card-body d-flex flex-column justify-content-between"
                    >
                        <i class="fa fa-user fa-3x"></i>
                        <!--end::Svg Icon-->
                        <div class="d-flex flex-column">
                            <div class="text-dark fw-bolder fs-1 mb-0 mt-5">
                                {{ stats.total_users }}
                            </div>
                            <div class="text-muted fw-bold fs-6">
                                Total Users
                            </div>
                        </div>
                    </div>
                    <!--end::Body-->
                </a>
            </div>
            <div class="col-3">
                <a :href="'/roles'" class="card bg-body h-150px">
                    <div
                        class="card-body d-flex flex-column justify-content-between"
                    >
                        <i class="fa fa-user fa-3x"></i>
                        <!--end::Svg Icon-->
                        <div class="d-flex flex-column">
                            <div class="text-dark fw-bolder fs-1 mb-0 mt-5">
                                {{ stats.total_roles }}
                            </div>
                            <div class="text-muted fw-bold fs-6">
                                Total Roles
                            </div>
                        </div>
                    </div>
                    <!--end::Body-->
                </a>
            </div>
            <div class="col-3">
                <a :href="'/subscriptions'" class="card bg-body h-150px">
                    <div
                        class="card-body d-flex flex-column justify-content-between"
                    >
                        <i class="fa fa-user fa-3x"></i>
                        <!--end::Svg Icon-->
                        <div class="d-flex flex-column">
                            <div class="text-dark fw-bolder fs-1 mb-0 mt-5">
                                {{ stats.total_subscriptions }}
                            </div>
                            <div class="text-muted fw-bold fs-6">
                                Total Subscriptions
                            </div>
                        </div>
                    </div>
                    <!--end::Body-->
                </a>
            </div>
            <div class="col-3">
                <a :href="'/devices'" class="card bg-body h-150px">
                    <div
                        class="card-body d-flex flex-column justify-content-between"
                    >
                        <i class="fa fa-user fa-3x"></i>
                        <!--end::Svg Icon-->
                        <div class="d-flex flex-column">
                            <div class="text-dark fw-bolder fs-1 mb-0 mt-5">
                                {{ stats.total_devices }}
                            </div>
                            <div class="text-muted fw-bold fs-6">
                                Total Devices
                            </div>
                        </div>
                    </div>
                    <!--end::Body-->
                </a>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-6">
                <a :href="'/merchants'" class="card bg-body h-150px">
                    <div
                        class="card-body d-flex flex-column justify-content-between"
                    >
                        <i class="fa fa-user fa-3x"></i>
                        <!--end::Svg Icon-->
                        <div class="d-flex flex-column">
                            <div class="text-dark fw-bolder fs-1 mb-0 mt-5">
                                <!-- {{ stats.total_order_amount }} SAR -->
                                2,412,945,370 SAR
                            </div>
                            <div class="text-muted fw-bold fs-6">
                                Total Revenue
                            </div>
                        </div>
                    </div>
                    <!--end::Body-->
                </a>
            </div>
            <div class="col-6">
                <a :href="'/merchants'" class="card bg-body h-150px">
                    <div
                        class="card-body d-flex flex-column justify-content-between"
                    >
                        <i class="fa fa-user fa-3x"></i>
                        <!--end::Svg Icon-->
                        <div class="d-flex flex-column">
                            <div class="text-dark fw-bolder fs-1 mb-0 mt-5">
                                <!-- {{ stats.total_orders }} -->
                                39,245,865
                            </div>
                            <div class="text-muted fw-bold fs-6">
                                Total Orders
                            </div>
                        </div>
                    </div>
                    <!--end::Body-->
                </a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-5">
                <!--begin::Mixed Widget 2-->
                <div class="card card-xl-stretch">
                    <!--begin::Header-->
                    <div class="card-header border-0 pt-5">
                        <span class="fs-5">{{
                            $t("Merchant Statistics")
                        }}</span>
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body p-0 mt-2 pt-5">
                        <!--begin::Chart-->

                        <!--end::Chart-->
                        <!--begin::Stats-->
                        <div class="card-p mt-n20 position-relative">
                            <!--begin::Row-->
                            <div class="row g-0">
                                <!--begin::Col-->
                                <div
                                    class="col bg-light-primary px-6 py-8 rounded-2 me-7 mb-7"
                                >
                                    <!--begin::Svg Icon | path: icons/duotune/general/gen032.svg-->
                                    <i
                                        class="fa fa-users d-block my-2 text-dark"
                                    ></i>
                                    <span
                                        class="d-block fs-1 fw-bold text-primary"
                                    >
                                        <!-- {{ stats.total_merchants }} -->
                                        1265
                                    </span>
                                    <!--end::Svg Icon-->
                                    <a href="#" class="text-dark fw-bold fs-6"
                                        >Total Merchants</a
                                    >
                                </div>
                                <div
                                    class="col bg-light-primary px-6 py-8 rounded-2 me-7 mb-7"
                                >
                                    <!--begin::Svg Icon | path: icons/duotune/general/gen032.svg-->
                                    <i
                                        class="fa fa-users d-block my-2 text-dark"
                                    ></i>
                                    <span
                                        class="d-block fs-1 fw-bold text-primary"
                                    >
                                        <!-- {{ stats.total_active_merchants }} -->
                                        1230
                                    </span>
                                    <!--end::Svg Icon-->
                                    <a href="#" class="text-dark fw-bold fs-6"
                                        >Active</a
                                    >
                                </div>
                            </div>
                            <div class="row g-0">
                                <!--begin::Col-->
                                <div
                                    class="col bg-light-primary px-6 py-8 rounded-2 me-7 mb-7"
                                >
                                    <!--begin::Svg Icon | path: icons/duotune/general/gen032.svg-->
                                    <i
                                        class="fa fa-users d-block my-2 text-dark"
                                    ></i>
                                    <span
                                        class="d-block fs-1 fw-bold text-primary"
                                    >
                                        <!-- {{ stats.total_merchants_last_month }} -->
                                        135
                                    </span>
                                    <!--end::Svg Icon-->
                                    <a href="#" class="text-dark fw-bold fs-6"
                                        >Last Month</a
                                    >
                                </div>
                                <div
                                    class="col bg-light-primary px-6 py-8 rounded-2 me-7 mb-7"
                                >
                                    <!--begin::Svg Icon | path: icons/duotune/general/gen032.svg-->
                                    <i
                                        class="fa fa-users d-block my-2 text-dark"
                                    ></i>
                                    <span
                                        class="d-block fs-1 fw-bold text-primary"
                                    >
                                        <!-- {{ stats.total_merchants_this_month }} -->
                                        20
                                    </span>
                                    <!--end::Svg Icon-->
                                    <a href="#" class="text-dark fw-bold fs-6"
                                        >This Month</a
                                    >
                                </div>
                            </div>
                        </div>
                        <!--end::Stats-->
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Mixed Widget 2-->
            </div>
            <div class="col-7">
                <div class="card pt-3">
                    <apexchart
                        type="line"
                        height="365"
                        :options="merchant_growth_chart_options"
                        :series="merchant_growth_chart_series"
                    ></apexchart>
                </div>
            </div>
        </div>
    </SidebarLayout>
</template>

<script>
import SidebarLayout from "./layouts/sidebar/index.vue";
import VueApexCharts from "vue-apexcharts";

export default {
    components: {
        SidebarLayout,
        apexchart: VueApexCharts,
    },
    data() {
        return {
            merchant_growth_chart_series: [
                {
                    name: "Merchants",
                    data: [],
                },
            ],
            merchant_growth_chart_options: {
                chart: {
                    height: 350,
                    type: "line",
                    zoom: {
                        enabled: false,
                    },
                },
                dataLabels: {
                    enabled: false,
                },
                stroke: {
                    curve: "straight",
                },
                title: {
                    text: "Merchants Growth by Months",
                    align: "left",
                },
                grid: {
                    row: {
                        colors: ["#f3f3f3", "transparent"], // takes an array which will be repeated on columns
                        opacity: 0.5,
                    },
                },
                xaxis: {
                    categories: [],
                },
            },
        };
    },
    created() {
        console.log("Dashboard mounted.");
        this.renderMerchantGrowthChart();
    },
    props: {
        stats: Object,
        chart: Object,
    },
    methods: {
        renderMerchantGrowthChart() {
            this.merchant_growth_chart_options.xaxis.categories =
                this.chart.merchant_growth_chart.categories;
            this.merchant_growth_chart_series[0].data =
                this.chart.merchant_growth_chart.data;
        },
    },
};
</script>
