<template>
    <SimpleLayout>
        <div
            class="d-flex flex-column flex-root"
            style="height: 100vh !important"
        >
            <!--begin::Authentication - Multi-steps-->
            <div
                class="d-flex flex-column flex-lg-row flex-column-fluid stepper stepper-pills stepper-column"
                id="kt_create_account_stepper"
            >
                <!--begin::Aside-->
                <div
                    class="d-flex flex-column flex-lg-row-auto w-xl-500px bg-lighten shadow-sm"
                >
                    <!--begin::Wrapper-->
                    <div
                        class="d-flex flex-column position-xl-fixed top-0 bottom-0 w-xl-500px scroll-y mt-20 pt-20"
                    >
                        <br />
                        <br />
                        <br />
                        <br />
                        <!--begin::Header-->
                        <div
                            class="d-flex flex-row-fluid flex-column flex-center p-10 pt-lg-20 pt-md-20"
                        >
                            <!--begin::Logo-->
                            <a :href="'/login'" class="mb-10 mb-lg-20">
                                <img
                                    alt="Logo"
                                    src="assets/media/logos/logo.png"
                                    class=""
                                />
                                <!-- <h1 class="display-6 text-primary">
                                    Wosul<span class="text-danger">CRM</span>
                                </h1> -->
                            </a>

                            <!--end::Logo-->
                        </div>
                        <!--end::Header-->
                        <!--begin::Illustration-->
                        <div
                            class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-150px min-h-lg-300px"
                            style="
                                background-image: url(/assets/media/illustrations/dozzy-1/19.png);
                            "
                        ></div>
                        <!--end::Illustration-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--begin::Aside-->
                <!--begin::Body-->
                <div class="d-flex flex-column flex-lg-row-fluid py-100">
                    <!--begin::Content-->
                    <div
                        class="d-flex flex-center flex-column flex-column-fluid"
                    >
                        <!--begin::Wrapper-->
                        <div class="w-lg-700px p-10 p-lg-15 mx-auto">
                            <p
                                v-show="error_class.login != ''"
                                v-html="server_errors"
                                v-bind:class="[error_class.login]"
                            ></p>
                            <div
                                class="alert alert-success"
                                v-show="login_success_msg != ''"
                            >
                                {{ login_success_msg }}
                            </div>

                            <!--begin::Form-->
                            <form
                                @submit.prevent="login"
                                method="POST"
                                class="my-auto pb-5"
                            >
                                <!--end::Step 1-->
                                <!--begin::Step 2-->
                                <div class="">
                                    <!--begin::Wrapper-->
                                    <div class="w-100">
                                        <!--begin::Heading-->
                                        <div class="pb-10 pb-lg-15">
                                            <!--begin::Title-->
                                            <h2 class="fw-bolder text-dark">
                                                Login to your account
                                            </h2>
                                            <!--end::Title-->
                                        </div>
                                        <!--end::Heading-->

                                        <!--begin::Input group-->

                                        <!--end::Input group-->

                                        <!--begin::Input group-->
                                        <div class="mb-10 fv-row">
                                            <!--begin::Label-->
                                            <label class="form-label mb-3"
                                                >Email</label
                                            >
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input
                                                type="text"
                                                class="form-control form-control-lg form-control-solid border-dark"
                                                v-model="login_email"
                                                :class="{
                                                    'is-invalid':
                                                        login_submitted &&
                                                        $v.login_email.$error,
                                                }"
                                            />
                                            <div
                                                v-if="
                                                    login_submitted &&
                                                    !$v.login_email.required
                                                "
                                                class="invalid-feedback"
                                            >
                                                Email is required
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <!--end::Input group-->

                                        <!--begin::Input group-->
                                        <div class="mb-10 fv-row">
                                            <!--begin::Label-->
                                            <label class="form-label mb-3"
                                                >Password</label
                                            >
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input
                                                type="password"
                                                class="form-control form-control-lg form-control-solid border-dark"
                                                v-model="login_password"
                                                :class="{
                                                    'is-invalid':
                                                        login_submitted &&
                                                        $v.login_password
                                                            .$error,
                                                }"
                                            />
                                            <div
                                                v-if="
                                                    login_submitted &&
                                                    !$v.login_password.required
                                                "
                                                class="invalid-feedback"
                                            >
                                                Password is required
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <!--end::Input group-->

                                        <div class="mb-10 fv-row">
                                            <button
                                                class="btn btn-primary btn-md"
                                            >
                                                Sign In
                                            </button>
                                        </div>
                                    </div>
                                    <!--end::Input group-->
                                </div>
                                <!--end::Wrapper-->
                                <!--end::Step 2-->
                            </form>
                            <!--end::Form-->
                        </div>
                        <!--end::Wrapper-->
                    </div>
                    <!--end::Content-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Authentication - Multi-steps-->
        </div>
    </SimpleLayout>
</template>

<script>
import SimpleLayout from "./layouts/simple";
import { required, email, minLength } from "vuelidate/lib/validators";

export default {
    components: {
        SimpleLayout,
    },
    data() {
        return {
            /* Validation & Error Handling Setup */
            server_errors: "",
            error_class: {
                login: "",
            },

            /* login */
            login_success_msg: "",
            login_submitted: false,
            // form data
            login_email: "",
            login_password: "",
        };
    },
    validations: {
        login_email: { required, email },
        login_password: { required, minLength: minLength(6) },
    },
    created() {
        // redirect to dashboard page if user has already logged in and trying to access login page
        this.redirectIfLoggedIn();
    },
    mounted() {
        console.log("Login Component mounted.");
    },
    methods: {
        redirectIfLoggedIn() {
            if (this.$store.state.auth.is_logged_in == true) {
                location.href = "/dashboard";
            }
        },
        login() {
            this.login_submitted = true;

            // stop here if form is invalid
            this.$v.$touch();

            if (this.$v.$invalid) {
                return;
            }

            var formData = new FormData();
            formData.append("email", this.login_email);
            formData.append("password", this.login_password);

            axios
                .post("/login", formData)
                .then((response) => {
                    if (response.data.status_code == 200) {
                        this.error_class.login = "";

                        localStorage.setItem(
                            "access_token",
                            response.data.data.access_token
                        );

                        this.$store.dispatch("auth/setUser").then(() => {
                            location.href = response.data.data.redirect_url;
                        });
                    } else {
                        try {
                            var error_json = JSON.parse(response.data.msg);
                            this.loop_api_errors(error_json);
                        } catch (err) {
                            this.server_errors = response.data.msg;
                        }
                        this.error_class.login = "error";
                        this.login_success_msg = "";
                    }
                })
                .catch((error) => {
                    var error_json = JSON.parse(error.response.data.message);
                    this.loop_api_errors(error_json);
                    this.error_class.login = "error";
                    this.login_success_msg = "";
                });
        },
    },
};
</script>
