<template>
    <SimpleLayout>
        <div
            class="d-flex flex-column flex-root"
            style="height: 100vh !important"
        >
            <!--begin::Authentication - Multi-steps-->
            <div
                class="d-flex flex-column flex-lg-row flex-column-fluid stepper stepper-pills stepper-column"
                id="kt_create_account_stepper"
            >
                <!--begin::Aside-->
                <div
                    class="d-flex flex-column flex-lg-row-auto w-xl-500px bg-lighten shadow-sm"
                >
                    <!--begin::Wrapper-->
                    <div
                        class="d-flex flex-column position-xl-fixed top-0 bottom-0 w-xl-500px scroll-y"
                    >
                        <!--begin::Header-->
                        <div
                            class="d-flex flex-row-fluid flex-column flex-center p-10 pt-lg-20"
                        >
                            <!--begin::Logo-->
                            <a
                                href="../../demo10/dist/index.html"
                                class="mb-10 mb-lg-20"
                            >
                                <h1 class="display-6 text-primary">
                                    Agile<span class="text-danger">Req</span>
                                </h1>
                            </a>

                            <!--end::Logo-->
                            <!--begin::Nav-->
                            <div class="stepper-nav">
                                <!--begin::Step 1-->
                                <div
                                    class="stepper-item current"
                                    data-kt-stepper-element="nav"
                                >
                                    <!--begin::Line-->
                                    <div class="stepper-line w-40px"></div>
                                    <!--end::Line-->
                                    <!--begin::Icon-->
                                    <div class="stepper-icon w-40px h-40px">
                                        <i
                                            class="stepper-check fas fa-check"
                                        ></i>
                                        <span class="stepper-number">1</span>
                                    </div>
                                    <!--end::Icon-->
                                    <!--begin::Label-->
                                    <div class="stepper-label">
                                        <h3 class="stepper-title">
                                            Account Type
                                        </h3>
                                        <div class="stepper-desc fw-bold">
                                            Setup Your Account Type
                                        </div>
                                    </div>
                                    <!--end::Label-->
                                </div>
                                <!--end::Step 1-->
                                <!--begin::Step 2-->
                                <div
                                    class="stepper-item"
                                    data-kt-stepper-element="nav"
                                >
                                    <!--begin::Line-->
                                    <div class="stepper-line w-40px"></div>
                                    <!--end::Line-->
                                    <!--begin::Icon-->
                                    <div class="stepper-icon w-40px h-40px">
                                        <i
                                            class="stepper-check fas fa-check"
                                        ></i>
                                        <span class="stepper-number">2</span>
                                    </div>
                                    <!--end::Icon-->
                                    <!--begin::Label-->
                                    <div class="stepper-label">
                                        <h3 class="stepper-title">
                                            Account Details
                                        </h3>
                                        <div class="stepper-desc fw-bold">
                                            Setup Your Account Details
                                        </div>
                                    </div>
                                    <!--end::Label-->
                                </div>
                                <!--end::Step 2-->
                            </div>
                            <!--end::Nav-->
                        </div>
                        <!--end::Header-->
                        <!--begin::Illustration-->
                        <div
                            class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-150px min-h-lg-300px"
                            style="
                                background-image: url(assets/media/illustrations/sigma-1/16.png;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
                            "
                        ></div>
                        <!--end::Illustration-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--begin::Aside-->
                <!--begin::Body-->
                <div class="d-flex flex-column flex-lg-row-fluid py-10">
                    <!--begin::Content-->
                    <div
                        class="d-flex flex-center flex-column flex-column-fluid"
                    >
                        <!--begin::Wrapper-->
                        <div class="w-lg-700px p-10 p-lg-15 mx-auto">
                            <p
                                v-show="error_class.register != ''"
                                v-html="server_errors"
                                v-bind:class="[error_class.register]"
                            ></p>
                            <div
                                class="alert alert-success"
                                v-show="register_success_msg != ''"
                            >
                                {{ register_success_msg }}
                            </div>

                            <!--begin::Form-->
                            <form
                                @submit.prevent="register"
                                method="POST"
                                class="my-auto pb-5"
                            >
                                <!--begin::Step 1-->
                                <div
                                    class="current"
                                    data-kt-stepper-element="content"
                                >
                                    <!--begin::Wrapper-->
                                    <div class="w-100">
                                        <!--begin::Heading-->
                                        <div class="pb-10 pb-lg-15">
                                            <!--begin::Title-->
                                            <h2
                                                class="fw-bolder d-flex align-items-center text-dark"
                                            >
                                                Choose Account Type
                                            </h2>
                                            <!--end::Title-->
                                        </div>
                                        <!--end::Heading-->
                                        <!--begin::Input group-->
                                        <div class="fv-row">
                                            <!--begin::Row-->
                                            <div class="row">
                                                <!--begin::Col-->
                                                <div class="col-lg-6">
                                                    <!--begin::Option-->
                                                    <input
                                                        type="radio"
                                                        class="btn-check"
                                                        v-model="
                                                            register_account_type
                                                        "
                                                        value="1"
                                                        checked="checked"
                                                        id="kt_create_account_form_account_type_personal"
                                                    />
                                                    <label
                                                        class="btn btn-outline btn-outline-dashed btn-outline-default p-7 d-flex align-items-center mb-10"
                                                        for="kt_create_account_form_account_type_personal"
                                                    >
                                                        <!--begin::Svg Icon | path: icons/duotune/communication/com005.svg-->
                                                        <span
                                                            class="svg-icon svg-icon-3x me-5"
                                                        >
                                                            <svg
                                                                xmlns="http://www.w3.org/2000/svg"
                                                                width="24"
                                                                height="24"
                                                                viewBox="0 0 24 24"
                                                                fill="none"
                                                            >
                                                                <path
                                                                    d="M20 14H18V10H20C20.6 10 21 10.4 21 11V13C21 13.6 20.6 14 20 14ZM21 19V17C21 16.4 20.6 16 20 16H18V20H20C20.6 20 21 19.6 21 19ZM21 7V5C21 4.4 20.6 4 20 4H18V8H20C20.6 8 21 7.6 21 7Z"
                                                                    fill="black"
                                                                />
                                                                <path
                                                                    opacity="0.3"
                                                                    d="M17 22H3C2.4 22 2 21.6 2 21V3C2 2.4 2.4 2 3 2H17C17.6 2 18 2.4 18 3V21C18 21.6 17.6 22 17 22ZM10 7C8.9 7 8 7.9 8 9C8 10.1 8.9 11 10 11C11.1 11 12 10.1 12 9C12 7.9 11.1 7 10 7ZM13.3 16C14 16 14.5 15.3 14.3 14.7C13.7 13.2 12 12 10.1 12C8.10001 12 6.49999 13.1 5.89999 14.7C5.59999 15.3 6.19999 16 7.39999 16H13.3Z"
                                                                    fill="black"
                                                                />
                                                            </svg>
                                                        </span>
                                                        <!--end::Svg Icon-->
                                                        <!--begin::Info-->
                                                        <span
                                                            class="d-block fw-bold text-start"
                                                        >
                                                            <span
                                                                class="text-dark fw-bolder d-block fs-4 mb-2"
                                                                >Personal
                                                                Account</span
                                                            >
                                                            <span
                                                                class="text-muted fw-bold fs-6"
                                                                >create an
                                                                account for
                                                                personal
                                                                use</span
                                                            >
                                                        </span>
                                                        <!--end::Info-->
                                                    </label>
                                                    <!--end::Option-->
                                                </div>
                                                <!--end::Col-->
                                                <!--begin::Col-->
                                                <div class="col-lg-6">
                                                    <!--begin::Option-->
                                                    <input
                                                        type="radio"
                                                        class="btn-check"
                                                        v-model="
                                                            register_account_type
                                                        "
                                                        value="2"
                                                        id="kt_create_account_form_account_type_corporate"
                                                    />
                                                    <label
                                                        class="btn btn-outline btn-outline-dashed btn-outline-default p-7 d-flex align-items-center"
                                                        for="kt_create_account_form_account_type_corporate"
                                                    >
                                                        <!--begin::Svg Icon | path: icons/duotune/finance/fin006.svg-->
                                                        <span
                                                            class="svg-icon svg-icon-3x me-5"
                                                        >
                                                            <svg
                                                                xmlns="http://www.w3.org/2000/svg"
                                                                width="24"
                                                                height="24"
                                                                viewBox="0 0 24 24"
                                                                fill="none"
                                                            >
                                                                <path
                                                                    opacity="0.3"
                                                                    d="M20 15H4C2.9 15 2 14.1 2 13V7C2 6.4 2.4 6 3 6H21C21.6 6 22 6.4 22 7V13C22 14.1 21.1 15 20 15ZM13 12H11C10.5 12 10 12.4 10 13V16C10 16.5 10.4 17 11 17H13C13.6 17 14 16.6 14 16V13C14 12.4 13.6 12 13 12Z"
                                                                    fill="black"
                                                                />
                                                                <path
                                                                    d="M14 6V5H10V6H8V5C8 3.9 8.9 3 10 3H14C15.1 3 16 3.9 16 5V6H14ZM20 15H14V16C14 16.6 13.5 17 13 17H11C10.5 17 10 16.6 10 16V15H4C3.6 15 3.3 14.9 3 14.7V18C3 19.1 3.9 20 5 20H19C20.1 20 21 19.1 21 18V14.7C20.7 14.9 20.4 15 20 15Z"
                                                                    fill="black"
                                                                />
                                                            </svg>
                                                        </span>
                                                        <!--end::Svg Icon-->
                                                        <!--begin::Info-->
                                                        <span
                                                            class="d-block fw-bold text-start"
                                                        >
                                                            <span
                                                                class="text-dark fw-bolder d-block fs-4 mb-2"
                                                                >Business
                                                                Account</span
                                                            >
                                                            <span
                                                                class="text-muted fw-bold fs-6"
                                                                >Create an
                                                                account for
                                                                coporate or
                                                                business use
                                                            </span>
                                                        </span>
                                                        <!--end::Info-->
                                                    </label>
                                                    <!--end::Option-->
                                                </div>
                                                <!--end::Col-->
                                            </div>
                                            <!--end::Row-->
                                        </div>
                                        <!--end::Input group-->
                                    </div>
                                    <!--end::Wrapper-->
                                </div>
                                <!--end::Step 1-->
                                <!--begin::Step 2-->
                                <div class="" data-kt-stepper-element="content">
                                    <!--begin::Wrapper-->
                                    <div class="w-100">
                                        <!--begin::Heading-->
                                        <div class="pb-10 pb-lg-15">
                                            <!--begin::Title-->
                                            <h2 class="fw-bolder text-dark">
                                                Account Info
                                            </h2>
                                            <!--end::Title-->
                                        </div>
                                        <!--end::Heading-->

                                        <!--begin::Input group-->
                                        <div class="mb-10 fv-row">
                                            <!--begin::Label-->
                                            <label class="form-label mb-3"
                                                >Name</label
                                            >
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input
                                                type="text"
                                                class="form-control form-control-lg form-control-solid"
                                                v-model="register_name"
                                                :class="{
                                                    'is-invalid':
                                                        register_submitted &&
                                                        $v.register_name.$error,
                                                }"
                                            />
                                            <div
                                                v-if="
                                                    register_submitted &&
                                                    !$v.register_name.required
                                                "
                                                class="invalid-feedback"
                                            >
                                                Name is required
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <!--end::Input group-->

                                        <!--begin::Input group-->
                                        <div class="mb-10 fv-row">
                                            <!--begin::Label-->
                                            <label class="form-label mb-3"
                                                >Email</label
                                            >
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input
                                                type="text"
                                                class="form-control form-control-lg form-control-solid"
                                                v-model="register_email"
                                                :class="{
                                                    'is-invalid':
                                                        register_submitted &&
                                                        $v.register_email
                                                            .$error,
                                                }"
                                            />
                                            <div
                                                v-if="
                                                    register_submitted &&
                                                    !$v.register_email.required
                                                "
                                                class="invalid-feedback"
                                            >
                                                Email is required
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <!--end::Input group-->

                                        <!--begin::Input group-->
                                        <div class="mb-10 fv-row">
                                            <!--begin::Label-->
                                            <label class="form-label mb-3"
                                                >Phone Number</label
                                            >
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input
                                                type="text"
                                                class="form-control form-control-lg form-control-solid"
                                                v-model="register_phone"
                                                :class="{
                                                    'is-invalid':
                                                        register_submitted &&
                                                        $v.register_phone
                                                            .$error,
                                                }"
                                            />
                                            <div
                                                v-if="
                                                    register_submitted &&
                                                    !$v.register_phone.required
                                                "
                                                class="invalid-feedback"
                                            >
                                                Phone number is required
                                            </div>
                                            <div
                                                v-if="
                                                    register_submitted &&
                                                    !$v.register_phone.number
                                                "
                                                class="invalid-feedback"
                                            >
                                                Phone number must be numeric
                                            </div>
                                            <div
                                                v-if="
                                                    register_submitted &&
                                                    (!$v.register_phone
                                                        .minLength ||
                                                        !$v.register_phone
                                                            .maxLength)
                                                "
                                                class="invalid-feedback"
                                            >
                                                Phone number is must be 10
                                                digits
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <!--end::Input group-->

                                        <!--begin::Input group-->
                                        <div class="mb-10 fv-row">
                                            <!--begin::Label-->
                                            <label class="form-label mb-3"
                                                >Password</label
                                            >
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input
                                                type="password"
                                                class="form-control form-control-lg form-control-solid"
                                                v-model="register_password"
                                                :class="{
                                                    'is-invalid':
                                                        register_submitted &&
                                                        $v.register_password
                                                            .$error,
                                                }"
                                            />
                                            <div
                                                v-if="
                                                    register_submitted &&
                                                    !$v.register_password
                                                        .required
                                                "
                                                class="invalid-feedback"
                                            >
                                                Password is required
                                            </div>
                                            <div
                                                v-if="
                                                    register_submitted &&
                                                    !$v.register_password
                                                        .minLength
                                                "
                                                class="invalid-feedback"
                                            >
                                                Password must be minimum 6
                                                characters
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <!--end::Input group-->

                                        <!--begin::Input group-->
                                        <div class="mb-10 fv-row">
                                            <!--begin::Label-->
                                            <label class="form-label mb-3"
                                                >Confirm Password</label
                                            >
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input
                                                type="password"
                                                class="form-control form-control-lg form-control-solid"
                                                v-model="
                                                    register_confirm_password
                                                "
                                                :class="{
                                                    'is-invalid':
                                                        register_submitted &&
                                                        $v
                                                            .register_confirm_password
                                                            .$error,
                                                }"
                                            />
                                            <div
                                                v-if="
                                                    register_submitted &&
                                                    !$v
                                                        .register_confirm_password
                                                        .required
                                                "
                                                class="invalid-feedback"
                                            >
                                                Confirm Password is required
                                            </div>
                                            <div
                                                v-if="
                                                    register_submitted &&
                                                    !$v
                                                        .register_confirm_password
                                                        .sameAsPassword
                                                "
                                                class="invalid-feedback"
                                            >
                                                Password & Confirm Password
                                                should same
                                            </div>

                                            <!--end::Input-->
                                        </div>
                                        <!--end::Input group-->
                                    </div>
                                    <!--end::Wrapper-->
                                </div>
                                <!--end::Step 2-->

                                <!--begin::Actions-->
                                <div class="d-flex flex-stack pt-15">
                                    <div class="mr-2">
                                        <button
                                            type="button"
                                            class="btn btn-lg btn-light-primary me-3"
                                            data-kt-stepper-action="previous"
                                        >
                                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr063.svg-->
                                            <span
                                                class="svg-icon svg-icon-4 me-1"
                                            >
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0 24 24"
                                                    fill="none"
                                                >
                                                    <rect
                                                        opacity="0.5"
                                                        x="6"
                                                        y="11"
                                                        width="13"
                                                        height="2"
                                                        rx="1"
                                                        fill="black"
                                                    />
                                                    <path
                                                        d="M8.56569 11.4343L12.75 7.25C13.1642 6.83579 13.1642 6.16421 12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75L5.70711 11.2929C5.31658 11.6834 5.31658 12.3166 5.70711 12.7071L11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25C13.1642 17.8358 13.1642 17.1642 12.75 16.75L8.56569 12.5657C8.25327 12.2533 8.25327 11.7467 8.56569 11.4343Z"
                                                        fill="black"
                                                    />
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->Previous
                                        </button>
                                    </div>
                                    <div>
                                        <button
                                            type="submit"
                                            class="btn btn-primary btn-lg btn-block"
                                            data-kt-stepper-action="submit"
                                        >
                                            Submit
                                        </button>

                                        <button
                                            type="button"
                                            class="btn btn-lg btn-primary"
                                            data-kt-stepper-action="next"
                                        >
                                            Continue
                                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
                                            <span
                                                class="svg-icon svg-icon-4 ms-1"
                                            >
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0 24 24"
                                                    fill="none"
                                                >
                                                    <rect
                                                        opacity="0.5"
                                                        x="18"
                                                        y="13"
                                                        width="13"
                                                        height="2"
                                                        rx="1"
                                                        transform="rotate(-180 18 13)"
                                                        fill="black"
                                                    />
                                                    <path
                                                        d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
                                                        fill="black"
                                                    />
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                        </button>
                                    </div>
                                </div>
                                <div class="mb-10 fv-row mt-5 pt-5">
                                    <div class="text-gray-400 fw-bold fs-4">
                                        Already have an account?
                                        <a
                                            :href="'/'"
                                            class="link-primary fw-bolder"
                                            >Sign in here</a
                                        >
                                    </div>
                                </div>
                                <!--end::Actions-->
                            </form>
                            <!--end::Form-->
                        </div>
                        <!--end::Wrapper-->
                    </div>
                    <!--end::Content-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Authentication - Multi-steps-->
        </div>
    </SimpleLayout>
</template>

<script>
import SimpleLayout from "./layouts/simple";
import {
    required,
    email,
    minLength,
    sameAs,
    numeric,
    maxLength,
} from "vuelidate/lib/validators";

export default {
    components: {
        SimpleLayout,
    },
    data() {
        return {
            /* Validation & Error Handling Setup */
            server_errors: "",
            error_class: {
                register: "",
            },

            /* Register*/
            register_success_msg: "",
            register_submitted: false,
            // form data
            register_account_type: 1,
            register_name: "",
            register_email: "",
            register_phone: "",
            register_password: "",
            register_confirm_password: "",
        };
    },
    validations: {
        register_account_type: { required },
        register_name: { required },
        register_email: { required, email },
        register_phone: {
            required,
            numeric,
            minLength: minLength(10),
            maxLength: maxLength(10),
        },
        register_password: { required, minLength: minLength(6) },
        register_confirm_password: {
            required,
            sameAsPassword: sameAs("register_password"),
        },
    },
    mounted() {
        console.log("Register Component mounted.");
    },
    methods: {
        resetRegisterForm() {
            this.register_account_type = 1;
            this.register_name = "";
            this.register_email = "";
            this.register_phone = "";
            this.register_password = "";
            this.register_confirm_password = "";
        },
        register() {
            this.register_submitted = true;

            // stop here if form is invalid
            this.$v.$touch();

            if (this.$v.$invalid) {
                return;
            }

            var formData = new FormData();
            formData.append("account_type", this.register_account_type);
            formData.append("name", this.register_name);
            formData.append("email", this.register_email);
            formData.append("phone", this.register_phone);
            formData.append("password", this.register_password);

            axios
                .post("/api/register", formData)
                .then((response) => {
                    if (response.data.status_code == 200) {
                        this.error_class.register = "";

                        this.$swal.fire(response.data.msg, "", "success");
                        this.resetRegisterForm();
                    } else {
                        try {
                            var error_json = JSON.parse(response.data.msg);
                            this.loop_api_errors(error_json);
                        } catch (err) {
                            this.server_errors = response.data.msg;
                        }
                        this.error_class.register = "error";
                        this.register_success_msg = "";
                    }
                })
                .catch((error) => {
                    var error_json = JSON.parse(error.response.data.message);
                    this.loop_api_errors(error_json);
                    this.error_class.register = "error";
                    this.register_success_msg = "";
                });
        },
    },
};
</script>
