<template>
    <SidebarLayout>
        <div class="card card-flush h-lg-100" id="kt_contacts_main">
            <!--begin::Card header-->
            <div class="card-header pt-7" id="kt_chat_contacts_header">
                <!--begin::Card title-->
                <div class="card-title">
                    <h2>{{ $t("Website Settings") }}</h2>
                </div>
                <!--end::Card title-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-5">
                <form
                    class=""
                    @submit.prevent="submit"
                    method="POST"
                    enctype="multipart/form-data"
                >
                    <p
                        v-show="error_class.setting != ''"
                        v-html="server_errors"
                        v-bind:class="[error_class.setting]"
                    ></p>
                    <div
                        class="alert alert-success"
                        v-show="setting_success_msg != ''"
                    >
                        {{ $t(setting_success_msg) }}
                    </div>
                    <div
                        class="row"
                        v-for="(setting, index) in settings"
                        :key="index"
                    >
                        <div class="col-4 mb-3">
                            <div class="form-group">
                                <label
                                    v-if="index == 0"
                                    class="fs-6 fw-bold form-label mt-3"
                                >
                                    <span class="required">
                                        {{ $t("Key") }}
                                    </span>
                                </label>
                                <input
                                    type="text"
                                    readonly
                                    v-model="setting.key"
                                    class="form-control form-control-solid readonly border-0"
                                />
                            </div>
                        </div>

                        <div class="col-8" v-if="setting.type == 'TEXT'">
                            <div class="form-group">
                                <label
                                    v-if="index == 0"
                                    class="fs-6 fw-bold form-label mt-3"
                                >
                                    <span class="required">
                                        {{ $t("Value") }}
                                    </span>
                                </label>
                                <input
                                    type="text"
                                    v-model="setting.value"
                                    class="form-control form-control-solid"
                                />
                            </div>
                        </div>

                        <div class="col-6" v-if="setting.type == 'IMAGE'">
                            <label
                                v-if="index == 0"
                                for="image"
                                class="fs-6 fw-bold form-label mt-3"
                            >
                                <span class="required">
                                    {{ $t("Image") }} (jpeg, jpg, png)
                                </span>
                            </label>
                            <input
                                type="file"
                                class="form-control-file form-control form-control-custom file-input"
                                name="image"
                                ref="image"
                                accept="image/x-png,image/jpeg,image/webp"
                                @change="uploadImage(index, $event)"
                            />
                        </div>
                        <div class="col-2" v-if="setting.type == 'IMAGE'">
                            <img
                                :src="
                                    '/storage/website_setting/' + setting.value
                                "
                                alt=""
                                style="width: 50px"
                            />
                        </div>

                        <input type="hidden" v-model="setting.type" />
                    </div>

                    <div class="separator mb-6 my-5"></div>
                    <div class="row">
                        <div class="col-12 text-end">
                            <button class="btn btn-primary">
                                {{ $t("Save") }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!--end::Card body-->
        </div>
    </SidebarLayout>
</template>

<script>
import SidebarLayout from "../layouts/sidebar";
import _ from "lodash";

export default {
    components: {
        SidebarLayout,
    },
    data() {
        return {
            /* Validation & Error Handling Setup */
            server_errors: "",
            error_class: {
                setting: "",
            },

            submit_api: "/api/website/setting/update",

            /* login */
            setting_success_msg: "",
            setting_submitted: false,
            initial_settings: [],
        };
    },
    props: {
        settings: {
            type: [Array, Object],
            default: null,
        },
    },
    created() {
        // redirect to dashboard page if user has already logged in and trying to access login page
        this.initial_settings = this.settings;
    },
    mounted() {
        console.log("Website Setting Component mounted.");
    },
    methods: {
        uploadImage(key, event) {
            this.settings[key].value = event.target.files[0];
        },
        submit() {
            this.setting_submitted = true;

            var formData = new FormData();

            formData.append("settings", JSON.stringify(this.settings));
            formData.append(
                "header_logo",
                _.isObject(this.settings[8].value) ? this.settings[8].value : ""
            );
            formData.append(
                "footer_logo",
                _.isObject(this.settings[9].value) ? this.settings[9].value : ""
            );
            formData.append(
                "favicon_icon",
                _.isObject(this.settings[10].value)
                    ? this.settings[10].value
                    : ""
            );

            const headers = {
                headers: { "Content-Type": "multipart/form-data" },
            };
            axios
                .post(this.submit_api, formData, headers)
                .then((response) => {
                    if (response.data.status_code == 200) {
                        this.error_class.setting = "";
                        this.setting_success_msg = response.data.msg;
                    } else {
                        try {
                            var error_json = JSON.parse(response.data.msg);
                            this.loop_api_errors(error_json);
                        } catch (err) {
                            this.server_errors = response.data.msg;
                        }
                        this.error_class.setting = "error";
                        this.setting_success_msg = "";
                    }
                })
                .catch((error) => {
                    var error_json = JSON.parse(error.response.data.message);
                    this.loop_api_errors(error_json);
                    this.error_class.setting = "error";
                    this.setting_success_msg = "";
                });
        },
    },
};
</script>
