<template>
    <div class="theme-cyan">
        <!-- WRAPPER -->
        <div id="wrapper">
            <slot></slot>
        </div>
        <!-- WRAPPER -->
    </div>
</template>

<script>
export default {
    name: "SimpleLayout",
    components: {},
};
</script>
