<template>
    <div>
        <span v-if="status == 0" class="badge badge-danger">
            {{ $t("Inactive") }}
        </span>
        <span v-if="status == 1" class="badge badge-success">
            {{ $t("Active") }}
        </span>
        <span v-if="status == 2" class="badge badge-warning">
            {{ $t("On Hold") }}
        </span>
    </div>
</template>

<script>
export default {
    name: "StatusLabel",
    props: {
        status: Number,
    },
};
</script>
