<template>
    <SidebarLayout>
        <div class="card card-flush h-lg-100" id="kt_contacts_main">
            <!--begin::Card header-->
            <div class="card-header pt-7" id="kt_chat_contacts_header">
                <!--begin::Card title-->
                <div class="card-title">
                    <h2>{{ $t("Add New Marketplace") }}</h2>
                </div>
                <!--end::Card title-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-5">
                <form
                    class=""
                    @submit.prevent="submit"
                    method="POST"
                    enctype="multipart/form-data"
                >
                    <p
                        v-show="error_class.marketplace != ''"
                        v-html="server_errors"
                        v-bind:class="[error_class.marketplace]"
                    ></p>
                    <div
                        class="alert alert-success"
                        v-show="marketplace_success_msg != ''"
                    >
                        {{ $t(marketplace_success_msg) }}
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label
                                for="thumb_image"
                                class="fs-6 fw-bold form-label mt-3"
                            >
                                <span class="required">
                                    {{ $t("Thumb Image") }} (jpeg, jpg, png)
                                </span>
                            </label>
                            <input
                                type="file"
                                class="form-control-file form-control form-control-custom file-input"
                                name="thumb_image"
                                ref="thumb_image"
                                accept="image/x-png,image/jpeg,image/webp"
                            />
                            <small class="form-text text-muted mb-1">
                                {{
                                    $t("Allowed file size per file is 3 MB")
                                }}</small
                            >
                        </div>

                        <div class="col-4">
                            <label
                                for="banner_image"
                                class="fs-6 fw-bold form-label mt-3"
                            >
                                <span class="required">
                                    {{ $t("Banner Image") }} (jpeg, jpg, png)
                                </span>
                            </label>
                            <input
                                type="file"
                                class="form-control-file form-control form-control-custom file-input"
                                name="banner_image"
                                ref="banner_image"
                                accept="image/x-png,image/jpeg,image/webp"
                            />
                            <small class="form-text text-muted mb-1">
                                {{
                                    $t("Allowed file size per file is 3 MB")
                                }}</small
                            >
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">
                                        {{ $t("Title") }}
                                    </span>
                                </label>
                                <input
                                    type="text"
                                    v-model="title"
                                    :class="{
                                        'is-invalid':
                                            marketplace_submitted &&
                                            $v.title.$error,
                                    }"
                                    class="form-control form-control-solid"
                                />
                                <div
                                    v-if="
                                        marketplace_submitted &&
                                        !$v.title.required
                                    "
                                    class="invalid-feedback"
                                >
                                    {{ $t("Marketplace Title is required") }}
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">{{
                                        $t("Title (Arabic)")
                                    }}</span>
                                </label>
                                <input
                                    type="text"
                                    v-model="title_ar"
                                    :class="{
                                        'is-invalid':
                                            marketplace_submitted &&
                                            $v.title_ar.$error,
                                    }"
                                    class="form-control form-control-solid"
                                />
                                <div
                                    v-if="
                                        marketplace_submitted &&
                                        !$v.title_ar.required
                                    "
                                    class="invalid-feedback"
                                >
                                    {{ $t("Marketplace Title is required") }}
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">{{
                                        $t("Short Description")
                                    }}</span>
                                </label>
                                <textarea
                                    type="text"
                                    v-model="short_description"
                                    :class="{
                                        'is-invalid':
                                            marketplace_submitted &&
                                            $v.short_description.$error,
                                    }"
                                    class="form-control form-control-solid"
                                />
                                <div
                                    v-if="
                                        marketplace_submitted &&
                                        !$v.short_description.required
                                    "
                                    class="invalid-feedback"
                                >
                                    {{ $t("Short Description is required") }}
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">{{
                                        $t("Short Description (Arabic)")
                                    }}</span>
                                </label>
                                <textarea
                                    type="text"
                                    v-model="short_description_ar"
                                    :class="{
                                        'is-invalid':
                                            marketplace_submitted &&
                                            $v.short_description_ar.$error,
                                    }"
                                    class="form-control form-control-solid"
                                />
                                <div
                                    v-if="
                                        marketplace_submitted &&
                                        !$v.short_description_ar.required
                                    "
                                    class="invalid-feedback"
                                >
                                    {{
                                        $t(
                                            "Short Description (Arabic) is required"
                                        )
                                    }}
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">{{
                                        $t("Long Description")
                                    }}</span>
                                </label>
                                <textarea
                                    type="text"
                                    v-model="long_description"
                                    :class="{
                                        'is-invalid':
                                            marketplace_submitted &&
                                            $v.long_description.$error,
                                    }"
                                    class="form-control form-control-solid"
                                />
                                <div
                                    v-if="
                                        marketplace_submitted &&
                                        !$v.long_description.required
                                    "
                                    class="invalid-feedback"
                                >
                                    {{ $t("Long Description is required") }}
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">{{
                                        $t("Long Description (Arabic)")
                                    }}</span>
                                </label>
                                <textarea
                                    type="text"
                                    v-model="long_description_ar"
                                    :class="{
                                        'is-invalid':
                                            marketplace_submitted &&
                                            $v.long_description_ar.$error,
                                    }"
                                    class="form-control form-control-solid"
                                />
                                <div
                                    v-if="
                                        marketplace_submitted &&
                                        !$v.long_description_ar.required
                                    "
                                    class="invalid-feedback"
                                >
                                    {{
                                        $t(
                                            "Long Description (Arabic) is required"
                                        )
                                    }}
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">{{
                                        $t("Status")
                                    }}</span>
                                </label>
                                <div
                                    class="form-check form-switch form-check-custom form-check-solid me-10 mt-2"
                                >
                                    <input
                                        class="form-check-input h-25px w-40px"
                                        type="checkbox"
                                        v-model="status"
                                        :checked="status == 1"
                                    />
                                    <span class="ps-1">{{ $t("Active") }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-12 py-5">
                            <span class="fs-2 fw-bold">Specifications</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <label class="fs-6 fw-bold form-label mt-3">
                                <span>{{ $t("Name") }}</span>
                            </label>
                        </div>
                        <div class="col-2">
                            <label class="fs-6 fw-bold form-label mt-3">
                                <span>{{ $t("Name (Arabic)") }}</span>
                            </label>
                        </div>
                        <div class="col-2">
                            <label class="fs-6 fw-bold form-label mt-3">
                                <span>{{ $t("Value") }}</span>
                            </label>
                        </div>
                        <div class="col-2">
                            <label class="fs-6 fw-bold form-label mt-3">
                                <span>{{ $t("Value (Arabic)") }}</span>
                            </label>
                        </div>
                        <div class="col-4">
                            <label class="fs-6 fw-bold form-label mt-3">
                                <span>{{ $t("Remove") }}</span>
                            </label>
                        </div>
                    </div>
                    <div
                        class="row py-2"
                        v-for="(
                            specification, specification_index
                        ) in specifications"
                        :key="specification_index"
                    >
                        <div class="col-2">
                            <div class="form-group">
                                <input
                                    type="text"
                                    v-model="specification.name"
                                    class="form-control form-control-solid"
                                />
                            </div>
                        </div>

                        <div class="col-2">
                            <div class="form-group">
                                <input
                                    type="text"
                                    v-model="specification.name_ar"
                                    class="form-control form-control-solid"
                                />
                            </div>
                        </div>

                        <div class="col-2">
                            <div class="form-group">
                                <input
                                    type="text"
                                    v-model="specification.value"
                                    class="form-control form-control-solid"
                                />
                            </div>
                        </div>

                        <div class="col-2">
                            <div class="form-group">
                                <input
                                    type="text"
                                    v-model="specification.value_ar"
                                    class="form-control form-control-solid"
                                />
                            </div>
                        </div>

                        <div class="col-4">
                            <button
                                class="btn btn-danger btn-sm"
                                @click="removeRow(specification_index)"
                            >
                                X
                            </button>
                        </div>
                    </div>

                    <div class="row py-3">
                        <div class="col-10">
                            <button
                                type="button"
                                class="btn btn-secondary btn-sm btn-block w-100"
                                @click="addRow"
                            >
                                + Add Row
                            </button>
                        </div>
                    </div>

                    <div class="separator mb-6 my-5"></div>
                    <div class="row">
                        <div class="col-12 text-end">
                            <button class="btn btn-primary">
                                {{ $t("Save") }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!--end::Card body-->
        </div>
    </SidebarLayout>
</template>

<script>
import SidebarLayout from "../../layouts/sidebar";
import { required } from "vuelidate/lib/validators";

export default {
    components: {
        SidebarLayout,
    },
    data() {
        return {
            /* Validation & Error Handling Setup */
            server_errors: "",
            error_class: {
                marketplace: "",
            },

            submit_api:
                this.edit_data != null
                    ? "/api/website/marketplace/update"
                    : "/api/website/marketplace/add",

            /* login */
            marketplace_success_msg: "",
            marketplace_submitted: false,

            // form data
            title: this.edit_data != null ? this.edit_data.title : "",
            title_ar: this.edit_data != null ? this.edit_data.title_ar : "",
            short_description:
                this.edit_data != null ? this.edit_data.short_description : "",
            short_description_ar:
                this.edit_data != null
                    ? this.edit_data.short_description_ar
                    : "",
            long_description:
                this.edit_data != null ? this.edit_data.long_description : "",
            long_description_ar:
                this.edit_data != null
                    ? this.edit_data.long_description_ar
                    : "",
            status: this.edit_data != null ? this.edit_data.status : "",
            specifications:
                this.edit_data != null
                    ? this.edit_data.specifications
                    : [
                          {
                              name: "",
                              name_ar: "",
                              value: "",
                              value_ar: "",
                          },
                      ],
        };
    },
    props: {
        edit_data: {
            type: [Array, Object],
            default: null,
        },
    },
    validations: {
        title: { required },
        title_ar: { required },
        short_description: { required },
        short_description_ar: { required },
        long_description: { required },
        long_description_ar: { required },
    },
    created() {
        // redirect to dashboard page if user has already logged in and trying to access login page
    },
    mounted() {
        console.log("Add Marketplace Component mounted.");
    },
    methods: {
        submit() {
            this.marketplace_submitted = true;

            // stop here if form is invalid
            this.$v.$touch();

            if (this.$v.$invalid) {
                return;
            }

            var formData = new FormData();
            if (this.edit_data != null) {
                formData.append("slack", this.edit_data.slack);
            }

            formData.append(
                "thumb_image",
                this.$refs.thumb_image.files.length > 0
                    ? this.$refs.thumb_image.files[0]
                    : ""
            );
            formData.append(
                "banner_image",
                this.$refs.banner_image.files.length > 0
                    ? this.$refs.banner_image.files[0]
                    : ""
            );

            formData.append("title", this.title);
            formData.append("title_ar", this.title_ar);
            formData.append("short_description", this.short_description);
            formData.append("short_description_ar", this.short_description_ar);
            formData.append("long_description", this.long_description);
            formData.append("long_description_ar", this.long_description_ar);
            formData.append("status", this.status);
            formData.append(
                "specifications",
                JSON.stringify(this.specifications)
            );

            axios
                .post(this.submit_api, formData)
                .then((response) => {
                    if (response.data.status_code == 200) {
                        this.error_class.marketplace = "";
                        this.marketplace_success_msg = response.data.msg;
                    } else {
                        try {
                            var error_json = JSON.parse(response.data.msg);
                            this.loop_api_errors(error_json);
                        } catch (err) {
                            this.server_errors = response.data.msg;
                        }
                        this.error_class.marketplace = "error";
                        this.marketplace_success_msg = "";
                    }
                })
                .catch((error) => {
                    var error_json = JSON.parse(error.response.data.message);
                    this.loop_api_errors(error_json);
                    this.error_class.marketplace = "error";
                    this.marketplace_success_msg = "";
                });
        },
        addRow() {
            let row = {
                name: "",
                name_ar: "",
                value: "",
                value_ar: "",
            };
            this.specifications.push(row);
        },
        removeRow(index) {
            this.specifications.splice(this.specifications.indexOf(index), 1);
        },
    },
};
</script>
